{% load static %}
    <script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.collapse.js' %}"></script>
    <script src="{% static 'js/bootsnav.js' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>

    <!--<script src="{% static 'js/wahlp.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>
