{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Autorización para consultar tu información crediticia{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:perfil' %}"><span>VER MI PERFIL</span></a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:editar_perfil' %}">EDITAR INFORMACIÓN DE MI PERFIL</a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:cambiar_contrasena' %}">CAMBIAR CONTRASEÑA</a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-warning col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:adios' %}">SALIR</a></p>
                                    </div>
                                </div>

                                <div class="col-md-7 ">
                                    {% if messages %}
                                            <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="alert alert-info col-md-8 alert-dismissable">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                {% for message in messages %}
                                                    {{ message }}
                                                {% endfor %}
                                            </div>
                                            <div class="col-md-2"></div>
                                            </div>
                                    {% endif %}
                                    <h3>AUTORIZACIÓN PARA CONSULTAR TU INFORMACIÓN CREDITICIA</h3>
                                    <br>
                                    <div class="col-sm-offset-1 col-sm-10" style="background-color: #e5e5e5;">
                                    <br>
                                    <p class="text-justify"> Por este medio, declaro bajo protesta de decir verdad que la información proporcionada a
                                        <strong class="strong-green">Ecological Crowd Operations S.A.P.I. de C.V.</strong> en este formato electrónico
                                        es verdadera y precisa y por este medio libero a <strong class="strong-green">Ecological Crowd Operations S.A.P.I. de C.V.</strong>
                                        de cualquier responsabilidad de la misma.
                                        <br>
                                        <br>Por este medio autorizo expresamente a <strong class="strong-green">Ecological Crowd Operations S.A.P.I. de C.V.</strong>,
                                        para que por conducto de sus funcionarios facultados lleve a cabo investigaciones sobre mi comportamiento crediticio o el de la Empresa
                                        que represento en la Sociedad de Información Crediticia que estime conveniente.
                                        <br>
                                        <br>Asimismo, declaro que conozco la naturaleza y alcance de la información que se solicitará, del uso que
                                            <strong class="strong-green">Ecological Crowd Operations S.A.P.I. de C.V.</strong> hará de tal información y que podrá realizar
                                            consultas periódicas sobre mi historial o el de la empresa que represento, consintiendo que esta
                                            autorización se encuentre vigente por un período de 3 años contados a partir de su expedición y en todo
                                            caso durante el tiempo que se mantenga la relación jurídica.
                                        <br>
                                        <br> En caso de que la solicitante sea una Persona Moral, declaro bajo protesta de decir verdad Ser
                                             Representante Legal de la empresa mencionada en esta autorización; manifestando que a la fecha de
                                             firma de la presente autorización los poderes no me han sido revocados, limitados, ni modificados en
                                             forma alguna.
                                        <br>
                                        <br> Estoy de acuerdo y acepto que este documento quede bajo propiedad de <strong class="strong-green">Ecological Crowd Operations S.A.P.I. de C.V.</strong>
                                             y/o Sociedad de Información Crediticia consultada para efectos de control y cumplimiento
                                             del artículo 28 de la Ley para Regular a Las Sociedades de Información Crediticia; mismo que señala
                                             que las Sociedades sólo podrán proporcionar información a un Usuario, cuando éste cuente con la
                                             autorización expresa del Cliente mediante su firma autógrafa
                                    <br> </div>

                                    <div class="container">
                                        <div class="form-group">
                                        <form id="auth" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-10">{{ form.autorizar_consulta_sic }}<label class="control-label" style="padding-left: 1%;">Estoy de acuerdo y doy mi autorización.</label></div>
                                            </div>
                                            <div class="col-sm-6" style="background-color: #e5e5e5;">
                                                <p class="text-justify">

                                                    <br>A continuación te enviaremos a tu celular un mensaje con un NIP que servirá como firma digital para la presente autorización. Escribe el NIP que recibas y a continuación pulsa el botón FINALIZAR.
                                                <br> </div>
                                            <div class="row">
                                                <div class="col-lg-10">{{ form.numero_cel }}<button class="btn btn-primary" type="button" onClick="send_pin()" style="margin-left: 1%;">Obtener NIP</button></div>
                                            </div>
                                            <div class="row">
                                                <br>
                                                <div class="col-lg-10"><label class="control-label" style="padding-right: 1%;">NIP recibido:</label>{{ form.pin }}</div>
                                                <br>
                                                <br>
                                                <div class="col-lg-4 col-lg-offset-2"><input type="submit" class="btn btn-success" id="autorizacion_button" value="FINALIZAR" /></div>
                                            </div>
                                        </form>
                                        </div>
                                    </div>

                                </div>
                                </div>
                            <!--</div>-->
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}
    <!--<script type="text/javascript" src="{% static 'clientes/js/spin.js' %}"></script>-->
    <script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function send_pin() {
    var prefix = "+521"
    $.ajax({
                url: "{% url 'clientes:send_pin' %}",
                type: "POST",
                data: { mobile_number: prefix + $("#id_numero_cel").val(), authorized: "True" },
            })
            .done(function(data) {
                alert("Se ha enviado el NIP de verificación Eco Luz a tu celular");
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown + ' : ' + jqXHR.responseText);
            });
    }
    </script>
    <script>

        var input = document.getElementById('id_autorizar_consulta_sic');
        input.oninvalid = function(event) {
            event.target.setCustomValidity('Debe marcar esta casilla para autorizar y poder continuar.');
        }

    </script>
    {% endblock %}