{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Editar perfil{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:perfil' %}"><span>VER MI PERFIL</span></a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:editar_perfil' %}">EDITAR INFORMACIÓN DE MI PERFIL</a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:cambiar_contrasena' %}">CAMBIAR CONTRASEÑA</a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-warning col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:adios' %}">SALIR</a></p>
                                    </div>
                                </div>

                                <div class="col-md-7 ">
                                    <h3>EDITANDO PERFIL</h3>
                                    <br>
                                    <p>En esta página podrás llenar la información requerida para continuar con tu financiamiento <strong class="strong-green">Eco Luz</strong>. Antes de guardar la información, verifica que ésta sea correcta y que hayas subido los documentos requeridos.</p>
                                    <br>
                                    <form id="profile" method="post" enctype="multipart/form-data">

                                    {% crispy cliente_form %}
                                    <!--<p><input type="button" class="btn btn-flat btn-success" id="next_button" value="SIGUIENTE" style="display:block;"/><input type="button" class="btn btn-flat btn-success" id="prev_button" value="ANTERIOR" style="display:none;"/></p>-->
                                        <button type="submit" class="btn btn-flat btn-primary">GUARDAR CAMBIOS</button>
                                </form>
                                </div>
                                </div>
                            </div>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}
    <script src="{% static 'clientes/js/validation.js' %}"></script>
    <script src="{% static 'clientes/js/tabnav.js' %}"></script>
    {% endblock %}