{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}¡Gracias!{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:perfil' %}"><span>VER MI PERFIL</span></a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:editar_perfil' %}">EDITAR INFORMACIÓN DE MI PERFIL</a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:cambiar_contrasena' %}">CAMBIAR CONTRASEÑA</a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-warning col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:adios' %}">SALIR</a></p>
                                    </div>
                                </div>

                                <div class="col-md-7 ">
                                    <h3>Gracias por completar la información. En los próximos días nos pondremos en contacto contigo para darte una respuesta. :)</h3>
                                    <br>
                                    <br>
                                    <h3>Atentamente <strong class="strong-green">Eco Luz</strong> </h3>
                                </div>
                                </div>
                            </div>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}

    {% endblock %}