{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}Contraseña actualizada{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="col-md-7 ">

<p>Su contraseña ha sido actualizada. Ahora puede iniciar sesión en su cuenta usando su nueva contraseña.</p>

<p><a class="btn btn-flat btn-primary" href="{% url 'clientes:acceso' %}" style="color: #fff !important;">INICIAR SESIÓN</a></p>
 </div>
                                </div>
                            </div>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>
{% endblock %}
<!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}

    {% endblock %}