{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}Recuperar contraseña{% endblock %}

{% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="col-md-7 ">
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" class="btn btn-flat btn-primary" value="ENVIAR INSTRUCCIONES" />
</fieldset>
</form>
                                    </div>
                                </div>
                            </div>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>

{% endblock %}
<!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}

    {% endblock %}