{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Mi Perfil{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:perfil' %}"><span>VER MI PERFIL</span></a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:editar_perfil' %}">EDITAR INFORMACIÓN DE MI PERFIL</a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:cambiar_contrasena' %}">CAMBIAR CONTRASEÑA</a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-warning col-md-8 col-md-offset-2" style="color: #fff !important;" href="{% url 'clientes:adios' %}">SALIR</a></p>
                                    </div>
                                </div>
                                <div class="col-md-7 ">
                                    <h3>MI PERFIL ECOLUZ</h3>
                                    <br>
                                    <br>
                                    {% if messages %}
                                            <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="alert alert-info col-md-8 alert-dismissable">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                {% for message in messages %}
                                                    {{ message }}
                                                {% endfor %}
                                            </div>
                                            <div class="col-md-2"></div>
                                            </div>
                                    {% endif %}

                                    <!-- Empiezan Tabs -->
                                    <form enctype="multipart/form-data">
                                        <ul class="nav nav-tabs">
                                            <li class="tab-pane active"><a href="#mis-datos" data-toggle="tab">Mis datos</a></li>
                                            <li class="tab-pane"><a href="#datos-del-obligado-solidario" data-toggle="tab">Datos del obligado solidario</a></li>
                                            <li class="tab-pane"><a href="#mi-financiamiento-ecoluz" data-toggle="tab">Mi financiamiento EcoLuz</a></li>
                                        </ul>

                                    <div class="tab-content panel-body">
                                        <div id="mis-datos" class="tab-pane active">

                                        <div id="div_id_first_name" class="form-group"> <label for="id_first_name" class="control-label ">Nombre</label>
                                        <div class="controls "> <input type="text" name="first_name" value="{{ user.first_name }}" disabled="True" id="id_first_name" class="textinput textInput form-control" maxlength="30">
                                        </div> </div>

                                        <div id="div_id_last_name" class="form-group"> <label for="id_last_name" class="control-label ">Apellidos</label>
                                        <div class="controls "> <input type="text" name="last_name" value="{{ user.last_name }}" disabled="True" id="id_last_name" class="textinput textInput form-control" maxlength="30">
                                        </div> </div>

                                        <div id="div_id_foto_file" class="form-group"> <label class="control-label ">Foto</label>
                                        {% if user.foto_file %}
                                            <div class="controls "><a href="{{ user.foto_file.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                        {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>


                                        <div id="div_id_telefono" class="form-group"> <label for="id_telefono" class="control-label ">Teléfono</label>
                                        <div class="controls "> <input type="text" name="telefono" value="{{ user.telefono }}" disabled="True" id="id_telefono" class="textinput textInput form-control" maxlength="10">
                                        </div> </div>

                                        <div id="div_id_estado_civil" class="form-group"> <label for="id_estado_civil" class="control-label ">Estado civil</label>
                                                <div class="controls "> <input type="text" name="estado_civil" disabled="True" id="id_estado_civil" value="{{ user.estado_civil }}" class="textinput textInput form-control" maxlength="20"></div> </div>

                                        <div id="div_id_regimen_conyugal" class="form-group"> <label for="id_regimen_conyugal" class="control-label ">Regimen conyugal</label>
                                                <div class="controls "> <input type="text" name="plan_elegido" disabled="True" id="id_regimen_conyugal" value="{{ user.regimen_conyugal }}" class="textinput textInput form-control" maxlength="20"></div> </div>

                                        <h4 class="strong-green">DIRECCIÓN</h4>

                                        <div class="col-md-12">
                                            <div class="row">
                                                <label for="id_calle" class="control-label col-lg-1">Calle</label>
                                                <div  class="col-lg-5 col-s-4"><input type="text" name="calle" value="{{ user.calle }}" disabled="True" id="id_calle" class="textinput textInput form-control" maxlength="50"></div>
                                                <label for="id_numero_exterior" class="control-label col-lg-1" style="margin-left: -3%; margin-right: 3%;">Número</label>
                                                <div  class="col-lg-2 col-s-4"><input type="text" name="Número exterior" value="{{ user.numero_exterior }}" disabled="True" id="id_numero_exterior" class="textinput textInput form-control" maxlength="10"></div>
                                                <label for="id_numero_interior" class="control-label col-lg-1">Interior</label>
                                                <div  class="col-lg-2 col-s-4"><input type="text" name="Número exterior" value="{{ user.numero_interior }}" disabled="True" id="id_numero_interior" class="textinput textInput form-control" maxlength="10"></div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <br>
                                            <div class="row">
                                                <label for="id_colonia" class="control-label col-lg-1">Colonia</label>
                                                <div  class="col-lg-4 col-s-4"><input type="text" name="colonia" value="{{ user.colonia }}" disabled="True" id="id_colonia" class="textinput textInput form-control" maxlength="50"></div>
                                                <label for="id_delegacion_municipio" class="control-label col-lg-3" style="margin-left: -3%; margin-right: -6%;">Delegación o Municipio</label>
                                                <div  class="col-lg-5 col-s-4"><input type="text" name="delegacion" value="{{ user.delegacion_municipio }}" disabled="True" id="id_delegacion_municipio" class="textinput textInput form-control" maxlength="10"></div>

                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <br>
                                            <div class="row">
                                                <label for="id_ciudad" class="control-label col-lg-1">Ciudad</label>
                                                <div  class="col-lg-4 col-s-4"><input type="text" name="ciudad" value="{{ user.ciudad }}" disabled="True" id="id_ciudad" class="textinput textInput form-control" maxlength="50"></div>
                                                <label for="id_estado" class="control-label col-lg-2" style="margin-left: -3%; margin-right: -6%;">Estado</label>
                                                <div  class="col-lg-5 col-s-4"><input type="text" name="ciudad" value="{{ user.estado }}" disabled="True" id="id_estado" class="textinput textInput form-control" maxlength="10"></div>

                                            </div>
                                        </div>

                                         <div class="col-md-12">
                                            <br>
                                            <div class="row">
                                                <label for="id_codigo_postal" class="control-label col-lg-3">Código Postal</label>
                                                <div  class="col-lg-3 col-s-4" style="margin-left: -8%;"><input type="text" name="cp" value="{{ user.codigo_postal }}" disabled="True" id="id_codigo_postal" class="textinput textInput form-control" maxlength="10"><br></div>

                                            </div>
                                        </div>

                                        <div id="div_id_rfc" class="form-group"> <br><label for="id_rfc" class="control-label ">RFC</label>
                                        <div class="controls "> <input type="text" name="rfc" disabled="True" id="id_rfc" value="{{ user.rfc }}" class="textinput textInput form-control" maxlength="20">
                                        </div> </div>
                                        <div id="div_id_razon_social" class="form-group"> <label for="id_razon_social" class="control-label ">Razón social</label>
                                        <div class="controls "> <input type="text" name="razon_social" disabled="True" id="id_razon_social" value="{{ user.razon_social }}" class="textinput textInput form-control" maxlength="50">
                                        </div> </div>

                                        <div id="div_id_domicilio_fiscal" class="form-group"> <label for="id_domicilio_fiscal" class="control-label ">Domicilio fiscal</label>
                                        <div class="controls "> <input type="text" name="domicilio_fiscal" disabled="True" id="id_domicilio_fiscal" value="{{ user.domicilio_fiscal }}" class="textinput textInput form-control" maxlength="50">
                                        </div> </div>

                                        <div id="div_id_curp" class="form-group"> <label for="id_curp" class="control-label ">CURP</label>
                                        <div class="controls "> <input type="text" name="curp" disabled="True" id="id_curp" value="{{ user.curp }}" class="textinput textInput form-control" maxlength="30">
                                        </div> </div>

                                        <div id="div_id_identificacion_file" class="form-group"> <label class="control-label ">Identificación (INE ambos lados/Pasaporte)</label>
                                        {% if user.identificacion_file %}
                                            <div class="controls "><a href="{{ user.identificacion_file.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                        {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>

                                        <div id="div_id_curp_file" class="form-group"> <label class="control-label ">Cédula CURP</label>
                                            {% if user.curp_file %}
                                            <div class="controls "><a href="{{ user.curp_file.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                            {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>

                                        <div id="div_id_cedula_rfc_file" class="form-group"> <label class="control-label ">Cédula RFC</label>
                                        {% if user.cedula_rfc_file %}
                                            <div class="controls "><a href="{{ user.cedula_rfc_file.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                            {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>

                                        <div id="div_id_recibo_luz_file" class="form-group"> <label  class="control-label ">Recibo de luz</label>
                                        {% if user.recibo_luz_file %}
                                            <div class="controls "><a href="{{ user.recibo_luz_file.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                            {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>

                                        <div id="div_id_comprobante_ingresos_file" class="form-group"> <label class="control-label ">Comprobante de ingresos (último año)</label>
                                        {% if user.comprobante_ingresos_file %}
                                            <div class="controls "><a href="{{ user.comprobante_ingresos_file.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                            {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>

                                        <div id="div_id_comprobante_domicilio" class="form-group"> <label class="control-label ">Comprobante de domicilio</label>
                                        {% if user.comprobante_domicilio %}
                                            <div class="controls "><a href="{{ user.comprobante_domicilio.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                            {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>

                                        </div>

                                        <div id="datos-del-obligado-solidario" class="tab-pane">

                                        <div id="div_id_obligado_nombre" class="form-group"> <label for="id_obligado_nombre" class="control-label ">Nombre</label>
                                        <div class="controls "> <input type="text" name="obligado_nombre" disabled="True" id="id_obligado_nombre" value="{{ user.obligado_nombre }}" class="textinput textInput form-control" maxlength="20"></div> </div>

                                        <div id="div_id_obligado_apellido" class="form-group"> <label for="id_obligado_apellido" class="control-label ">Apellido</label>
                                            <div class="controls "> <input type="text" name="obligado_apellido" disabled="True" id="id_obligado_apellido" value="{{ user.obligado_apellido }}" class="textinput textInput form-control" maxlength="20"> </div> </div>

                                        <div id="div_id_obligado_relacion" class="form-group"> <label for="id_obligado_relacion" class="control-label ">Relación</label>
                                            <div class="controls "> <input type="text" name="obligado_relacion" disabled="True" id="id_obligado_relacion" value="{{ user.obligado_relacion }}" class="textinput textInput form-control" maxlength="20"> </div> </div>

                                        <div id="div_id_obligado_rfc" class="form-group"> <label for="id_obligado_rfc" class="control-label ">RFC</label>
                                            <div class="controls "> <input type="text" name="obligado_rfc" disabled="True" id="id_obligado_rfc" value="{{ user.obligado_rfc }}" class="textinput textInput form-control" maxlength="20"> </div> </div>

                                        <div id="div_id_obligado_curp" class="form-group"> <label for="id_obligado_curp" class="control-label ">CURP</label> <div class="controls ">
                                            <input type="text" name="obligado_curp" disabled="True" id="id_obligado_curp" value="{{ user.obligado_curp }}" class="textinput textInput form-control" maxlength="30"> </div> </div>

                                        <div id="div_id_obligado_identificacion_file" class="form-group"> <label class="control-label ">Identificación (INE ambos lados/Pasaporte)</label>
                                        {% if user.obligado_identificacion_file %}
                                            <div class="controls "><a href="{{ user.obligado_identificacion_file.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                            {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>

                                        <div id="div_id_obligado_rfc_file" class="form-group"> <label class="control-label ">Cédula RFC</label>
                                         {% if user.obligado_rfc_file %}
                                            <div class="controls "><a href="{{ user.obligado_rfc_file.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                            {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>
                                        <div id="div_id_obligado_curp_file" class="form-group"> <label class="control-label ">Cédula CURP</label>
                                        {% if user.obligado_curp_file %}
                                            <div class="controls "><a href="{{ user.obligado_curp_file.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                            {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>
                                        <div id="div_id_obligado_recibo_luz" class="form-group"> <label class="control-label ">Recibo de luz</label>
                                         {% if user.obligado_recibo_luz %}
                                            <div class="controls "><a href="{{ user.obligado_recibo_luz.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                            {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>
                                        <div id="div_id_obligado_comprobante_domicilio" class="form-group"> <label class="control-label ">Comprobante de domicilio</label>
                                        {% if user.obligado_comprobante_domicilio %}
                                            <div class="controls "><a href="{{ user.obligado_comprobante_domicilio.url }}" class="btn btn-default" target="_blank">VER ARCHIVO</a></div>
                                            {% else %}
                                            <div class="controls "><span>TODAVÍA NO SE HA AGREGADO UN ARCHIVO</span></div>
                                        {% endif %}
                                        </div>
                                        </div>

                                        <div id="mi-financiamiento-ecoluz" class="tab-pane">

                                            <div id="div_id_estado_del_financiamiento" class="form-group"> <label for="id_estado_del_financiamiento" class="control-label ">Estatus del financiamiento</label>
                                                <div class="controls "> <input type="text" name="estatus" disabled="True" id="id_estado_del_financiamiento" value="{{ user.estado_del_financiamiento }}" class="textinput textInput form-control" maxlength="20"></div> </div>

                                            <div id="div_id_plan_elegido" class="form-group"> <label for="id_plan_elegido" class="control-label ">Plan de financiamiento elegido</label>
                                                <div class="controls "> <input type="text" name="plan_elegido" disabled="True" id="id_plan_elegido" value="{{ user.plan_elegido }}" class="textinput textInput form-control" maxlength="20"> </div> </div>

                                            <div id="div_id_monto_credito" class="form-group"> <label for="id_monto_credito" class="control-label ">Monto del crédito</label>
                                                <div class="controls "> <input type="text" name="monto_credito" disabled="True" id="id_monto_credito" value="{{ user.monto_credito }}" class="textinput textInput form-control" maxlength="20"> </div> </div>

                                            <div id="div_id_numero_de_paneles" class="form-group"> <label for="id_numero_de_paneles" class="control-label ">Cantidad de paneles</label>
                                                <div class="controls "> <input type="text" name="numero_de_paneles" disabled="True" id="id_numero_de_paneles" value="{{ user.numero_de_paneles }}" class="textinput textInput form-control" maxlength="10"> </div> </div>

                                            <div id="div_id_enganche" class="form-group"> <label for="id_enganche" class="control-label ">Enganche</label>
                                                <div class="controls "> <input type="text" name="enganche" disabled="True" id="id_enganche" value="{{ user.enganche }}" class="textinput textInput form-control" maxlength="20"> </div> </div>

                                            <div id="div_id_numero_de_pagos" class="form-group"> <label for="id_numero_de_pagos" class="control-label ">Cantidad de pagos</label>
                                                <div class="controls "> <input type="text" name="numero_de_pagos" disabled="True" id="id_numero_de_pagos" value="{{ user.numero_de_pagos }}" class="textinput textInput form-control" maxlength="5"> </div> </div>

                                            <div id="div_id_pago_mensual" class="form-group"> <label for="id_pago_mensual" class="control-label ">Pago mensual</label>
                                                <div class="controls "> <input type="text" name="pago_mensual" disabled="True" id="id_pago_mensual" value="{{ user.pago_mensual }}" class="textinput textInput form-control" maxlength="20"> </div> </div>
                                        </div>

                                    </div>

                                </form>
                                    <!-- End Tabs -->
                                </div>

                                </div>
                            </div>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}

    {% endblock %}