{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Registrarme{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="container">
                                <div class="col-md-6 col-md-offset-3 ">
                                    <br><h2>REGISTRO</h2>
                                    <br><strong class="strong-green">Regístrate para que podamos atenderte mejor y para que puedas acceder a nuestra calculadora financiera. Es muy fácil y sólo tendrás que hacerlo una vez.</strong>
                                <br>
                                    <!-- {% if messages %}
                                        <ul>
                                            {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %} -->
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type="submit" class="btn btn-flat btn-primary">REGISTRARME</button>
                                        &nbsp; <span>¿Ya estás registrado?</span> <a class="btn bnt-flat strong-green"  href="{% url 'clientes:acceso' %}">INGRESA A TU PERFIL ECOLUZ</a>
                                            {% for error in field.errors %}
                                              <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                          </p>
                                      </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% include 'TYC_modal.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}
    <script type="text/javascript" src="{% static 'js/tyc.js' %}"></script>
    <script> $(document).ready(function(){
            $("#id_terms").after('Acepto los<a href="{% url 'terminos-y-condiciones' %}" target="_blank" id="terms"> Términos y condiciones</a>');
        });</script>
    <script>
        var input = document.getElementById('id_terms');
        input.oninvalid = function(event) {
            event.target.setCustomValidity('Debe marcar esta casilla para aceptar los Términos y Condiciones y poder continuar.');
        }
    </script>
    {% endblock %}