{% extends "base.html" %}
  
{% block head_title %}Aviso de Privacidad{% endblock %}
   
     
    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>AVISO DE PRIVACIDAD</h3>
                        <br> </div>
                    <div class="col-sm-offset-1 col-sm-10" style="background-color: #e5e5e5;">
                        <br>
                        <p class="text-justify"> <strong class="strong-green">Ecological Crowd Operations S.A.P.I. de C.V. (en adelante “ECO LUZ”)</strong> con domicilio ubicado en Puebla no. 387, piso 1, col. Roma Norte, Cuauhtémoc, C.P. 06700, México, Distrito Federal, C.P. 06700, hace de su conocimiento, que los datos personales que nos proporcione, como son sus datos de contacto, serán utilizados, única y exclusivamente, para invitar le a los eventos que esta Firma realiza, enviar le boletines y diversas publicaciones que realiza <strong class="strong-green">ECO LUZ</strong> y demás comunicados, así como para prospección comercial. Derivado de lo anterior, <strong class="strong-green">ECO LUZ</strong> le notifica que dicha información será almacenada por un período de un año. Posteriormente, dicha información será cancelada y, finalmente, descartada. Lo anterior, con fundamento en el artículo 37 del Reglamento de la Ley Federal de Protección de Datos en Posesión de los Particulares.
                            <br>
                            <br>La información personal que nos es proporcionada por usted, se guarda en bases de datos controladas y con acceso limitado. <strong class="strong-green">ECO LUZ</strong> realiza el tratamiento de sus datos personales de conformidad, con los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad, en términos de lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento (en adelante conjuntamente la “Legislación”).
                            <br>
                            <br><strong class="strong-green">ECO LUZ</strong> le informa que, a fin de impedir el acceso y revelaciones no autorizadas, así como para mantener la exactitud de los datos que nos proporciona y garantizar la utilización correcta de éstos, utilizamos los procedimientos físicos, tecnológicos y administrativos apropiados para proteger la información que se recaba. Los datos personales que nos son proporcionados por usted se guardan en bases de datos controladas y con acceso limitado. Nos abstendremos de vender, arrendar o alquilar sus datos personales a terceros. Asi mismo, se le informa que, <strong class="strong-green">ECO LUZ</strong> cuenta con procedimientos idóneos y veraces para atender a las solicitudes de derechos de Acceso, Rectificación, Cancelación y Oposición que llegase a presentar, los cuales podrán ser ejercidos mediante formulario que podrá obtenerse, previa solicitud que se realice al siguiente correo electrónico: <a href="mailto:datospersonales@ecoluz.mx">datospersonales@ecoluz.mx</a>.
                            <br>
                            <br>En caso de que ocurra una vulneración de seguridad, en cualquier fase del tratamiento de datos personales, <strong class="strong-green">ECO LUZ</strong>, a través de la figura del responsable lo hará del conocimiento general, de manera inmediata, por conducto de la siguiente página de internet: www.ecoluz.mx, eco-luz.com o www.ahorroecoluz.com, para que las personas involucradas en la vulneración de sus datos personales tomen las medidas correspondientes, a fin de resguardar sus derechos.
                            <br>
                            <br> <strong class="strong-green">ECO LUZ</strong> se reserva el derecho a modificar el presente aviso de privacidad, mismo que se encuentra disponible en la página de internet señalada en el párrafo anterior.
                            <br>
                            <br> Atentamente, Ecological Crowd Operations S.A.P.I. de C.V. </p>
                        <br> </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>
   {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    
    
