{% extends "base.html" %}
  
{% block head_title %}Conoce tu Ahorro{% endblock %}
<!--<body class="body-back-calculadora">-->
 {% block class-body %}body-back-calculadora{% endblock %}  
     
    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                <div class="row">
                    <div class="col-sm-12 ">
                        <h3 class="strong-white">CONOCE TU AHORRO</h3>
                        <br> </div>
                    <div class="col-sm-offset-2 col-sm-8" style="background-color: #fff;">
                        <br>
                        <h4>Calculadora de consumo</h4>
                        <br>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="" class="col-lg-4 control-label">Ingresa los datos de tu recibo:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="" placeholder="Recibo"> </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-lg-4 control-label">Tu consumo:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="" placeholder="Consumo"> </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-lg-4 control-label">Selecciona tu tarifa:</label>
                                <div class="col-lg-8">
                                    <select class="selectpicker custom-select form-control" data-live-search="true">
                                        <option data-tokens="0" selected disabled>Selecciona...</option>
                                        <option data-tokens="t1">Tarifa 1</option>
                                        <option data-tokens="t2">Tarifa 2</option>
                                        <option data-tokens="t3">Tarifa 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-lg-4 control-label">Consumo kWh bimestre:</label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control" id="" placeholder="kWh"> </div>
                                <label for="" class="col-lg-4 control-label">Importe bimestre:</label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control" id="" placeholder="$"> </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-lg-4 control-label">Consumo kWh bimestre:</label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control" id="" placeholder="kWh"> </div>
                                <label for="" class="col-lg-4 control-label">Importe bimestre:</label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control" id="" placeholder="$"> </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <button type="submit" class="btn btn-flat btn-success">Siguiente</button>
                                    <button type="clear" class="btn btn-flat btn-default pull-right">Cancelar</button>
                                </div>
                            </div>
                        </form>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>
    
    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}
    <script>
    $(document).ready(function(){
            $("#conoce").addClass("active");
    });
    </script>
    {% endblock %}
    
