{% extends "base.html" %}
  
{% block head_title %}Contacto{% endblock %}
   
     
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                <div class="row">
                    <div class="col-sm-12 ">
                        <h3>CONTÁCTANOS</h3>
                        <h4>Horario de atención: Lunes a Viernes. 9 a 17 hrs.</h4>
                        <br> </div>
                    <div class="col-sm-12 col-md-6" style="background-color: #e5e5e5;">
                        <br>
                        <h4>Inicia tu Ahorro</h4>
                        <br>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="" class="col-lg-3 control-label">Nombre:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="" placeholder="Nombre Completo"> </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-lg-3 control-label">Correo Electrónico:</label>
                                <div class="col-lg-9">
                                    <input type="email" class="form-control" id="" placeholder="Email"> </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-lg-3 control-label">Título:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="" placeholder="Título"> </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-lg-3 control-label">Mensaje:</label>
                                <div class="col-lg-9">
                                    <textarea cols="5" rows="10" class="form-control" id="" placeholder="Mensaje"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-9">
                                    <button type="submit" class="btn btn-flat btn-success">Enviar Datos</button>
                                    <button type="clear" class="btn btn-flat btn-default pull-right">Cancelar</button>
                                </div>
                            </div>
                        </form>
                        <br> </div>
                    <div class="hidden-lg">
                        <br>
                        <br> </div>
                    <div class="col-sm-12 col-md-6">
                        <iframe style="width: 100%; height:450px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.8196384725134!2d-99.17670638459158!3d19.420197346108296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff4f5c51b401%3A0xf6bd1a06d8d3d368!2sPuebla+387%2C+Roma+Nte.%2C+06700+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses-419!2smx!4v1502467535363" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <br>
                        <br>
                        <p><i class="fa fa-envelope fa-1x strong-green"></i> <a href="mailto:contacto@ecoluz.mx">contacto@ecoluz.mx</a>
                            <br> <i class="fa fa-phone fa-1x strong-green"></i> (01) 800 000 44 55
                            <br> <i class="fa fa-phone fa-1x strong-green"></i> (+52 1) 55 4064 8271</p>
                    </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>
    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    
    
    <!-- End Page script -->
