{% extends "base.html" %}
{% load static %}
{% block head_title %}Bienvenida{% endblock %}
   <!-- Eco luz slider index styles -->
   {% block css-special %}
   <link rel="stylesheet" href="{% static 'css/slider-captions-index.css' %}">
    {% endblock %}
     
    {% block content %}
    <div class="full-container">
        <!-- carousel-->
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs hidden-sm">
                <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                <li data-target="#mycarousel" data-slide-to="1"></li>
                <li data-target="#mycarousel" data-slide-to="2"></li>
                <li data-target="#mycarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides desktop-->
            <div class="carousel-inner" role="listbox">
                <div class="item item1"> <img src="{% static 'images/background/ecoluz-1-ntext.jpg' %}" data-color="lightblue" alt="First Image">
                    <div class="carousel-caption caption1">
                        <h3>Con Eco Luz la energía solar<br><strong>ya está a tu alcance</strong></h3> </div>
                </div>
                <div class="item"> <img src="{% static 'images/background/ecoluz-2-ntext.jpg' %}" data-color="firebrick" alt="Second Image">
                    <div class="carousel-caption caption2">
                        <h3>Reduce tu gasto de Luz con&nbsp;nuestro<br><strong>Financiamiento de energía&nbsp;solar</strong></h3> </div>
                </div>
                <div class="item"> <img src="{% static 'images/background/ecoluz-3-ntext.jpg' %}" data-color="violet" alt="Third Image">
                    <div class="carousel-caption caption3">
                        <h3>Facilitamos<br>tu acceso a<br><strong>tecnología de energía&nbsp;solar</strong></h3> </div>
                </div>
                <div class="item"> <img src="{% static 'images/background/ecoluz-4-ntext.jpg' %}" data-color="lightgreen" alt="Fourth Image">
                    <div class="carousel-caption caption4">
                        <h3>Generar tu propia energía es fácil con <strong>Eco Luz</strong></h3> &nbsp;&nbsp;&nbsp;&nbsp;<span class=""><a href="{% url 'clientes:registro' %}" style="width: 50%; height: auto;" class="btn btn-flat btn-success btn-sm">REGÍSTRATE</a></span> </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
            <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
        </div>
        <!-- / -->
    </div>
    {% endblock %}
    <!-- End container carousel -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-index.html' %}
    {% endblock %}
    <!-- End footer -->
    
    <!-- Page index carousel page script -->
    {% block js-special %}
    <script src="{% static 'js/script-js-carousel.js' %}"></script>
    {% endblock %}
   
    <!-- End Page script -->
