{% extends "base.html" %}
{% load static %}
{% block head_title %}Proyectos{% endblock %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>CASOS DE ÉXITO</h3> </div>
                    <div class="col-sm-6"> <img src="{% static 'images/projects/Serhub.jpg' %}" class="img-responsive" style="margin: 0 auto">
                        <br>
                        <h4>SER HUB </h4>
                        <p>Lili buscaba financiamiento con tasas preferenciales para amortizar su inversión con sus ahorros de energía eléctrica.
                            <br> <a href="proyectos-serhub.html" class="btn btn-success btn-flat pull-right">Detalles</a>
                            <br> </p>
                        <hr> </div>
                    <div class="col-sm-6"> <img src="{% static 'images/projects/proyecto-2.png' %}" class="img-responsive" style="margin: 0 auto">
                        <br>
                        <h4>PANADERÍA </h4>
                        <p>Carlos buscaba financiamiento con tasas preferenciales para amortizar su inversión con sus ahorros de energía eléctrica.
                            <br>
                            <br> </p>
                        <hr> </div>
                    <div class="col-sm-6"> <img src="{% static 'images/projects/proyecto-3.png' %}" class="img-responsive" style="margin: 0 auto">
                        <br>
                        <h4>VEGGIE </h4>
                        <p>Sarah buscaba financiamiento con tasas preferenciales para amortizar su inversión con sus ahorros de energía eléctrica.
                            <br>
                            <br> </p>
                        <hr> </div>
                    <div class="col-sm-6"> <img src="{% static 'images/projects/proyecto-4.png' %}" class="img-responsive" style="margin: 0 auto">
                        <br>
                        <h4>TEXTIL </h4>
                        <p>Laura buscaba financiamiento con tasas preferenciales para amortizar su inversión con sus ahorros de energía eléctrica.
                            <br>
                            <br> </p>
                        <hr> </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>
    {% endblock %}
    <!-- End container carousel -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->

    {% block js-special %}
    <script>
    $(document).ready(function(){
            $("#proyectos").addClass("active");
    });
    </script>
    {% endblock %}
    <!-- End Page script -->