{% extends "base.html" %}
  
{% block head_title %}Proyecto SERHUB{% endblock %}

    {% block content %}
        <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>SER HUB</h3> </div>
                    <div class="col-sm-offset-1 col-sm-10"> <img src="{% static 'images/projects/Serhub.jpg' %}" class="img-responsive" style="margin: 0 auto">
                        <br>
                        <p>La empresa de Lili no tenía acceso a financiamientos por no cumplir los requisitos. Sin embargo, paga dos recibos de luz que le otorgan un historial de capacidad de pago. Por lo tanto Lili buscaba un financiamiento con tasas preferenciales para amortizar su inversión con el flujo que ya desembolsaba por energía eléctrica.</p>
                        <h3 class="strong-green text-left">Lili gerente de SER HUB adquirió paneles solares por medio del financiamiento de Eco Luz.</h3>
                        <p>Después de los 3 años, Lili amortizará la inversión de panales solares al 100% y ya no deberá pagar energía eléctrica en su negocio.</p>
                        </p>
                        <hr>
                        <div class="col-sm-6">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/zJ6H7y9k3uE" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-sm-6">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <h5 class="list-group-item-heading pull-left">Gasto anual en energía</h5>
                                    <p class="list-group-item-text pull-right"><span class="strong-green">$17,334</span></p>
                                    <br> </a>
                                <a href="#" class="list-group-item">
                                    <h5 class="list-group-item-heading pull-left">Monto del crédito</h5>
                                    <p class="list-group-item-text pull-right"><span class="strong-green">$72,000.00</span></p>
                                    <br> </a>
                                <a href="#" class="list-group-item">
                                    <h5 class="list-group-item-heading pull-left">Tasa de interés</h5>
                                    <p class="list-group-item-text pull-right"><span class="strong-green">15%</span></p>
                                    <br> </a>
                                <a href="#" class="list-group-item">
                                    <h5 class="list-group-item-heading pull-left">Plazo</h5>
                                    <p class="list-group-item-text pull-right"><span class="strong-green">36 meses</span></p>
                                    <br> </a>
                                <a href="#" class="list-group-item">
                                    <h5 class="list-group-item-heading pull-left">Pago mensual</h5>
                                    <p class="list-group-item-text pull-right"><span class="strong-green">$3,044.77</span></p>
                                    <br> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    {% endblock %}
    <!-- End container carousel -->
    <!-- Start footer -->
    {% block footer %}
    {% include footer/_footer-sections.html %}
    {% endblock %}
    <!-- End footer -->

    {% block js-special %}
    <script>
    $(document).ready(function(){
            $("#proyectos").addClass("active");
    });
    </script>
    {% endblock %}
    <!-- End Page script -->
