{% extends "base.html" %}
{% load static %}
{% block head_title %}Qué es Eco Luz{% endblock %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="background-color: #e5e5e5; margin-top: 100px">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>¿QUÉ ES ECO LUZ?</h3>
                        <p><span class="strong-green">Eco Luz</span> es la plataforma inteligente para obtener energía renovable de manera fácil y rápida.</p>
                        <p> <span class="strong-green">Colaboramos</span> principalmente con las pequeñas y medianas empresas de cualquier sector. Generando inclusión financiera gracias a nuestra evaluación alternativa energética/crediticia.</p>
                        <br> </div>
                    <div class="col-sm-6">
                        <h3>¿POR QUÉ ECO LUZ?</h3>
                        <p><span class="strong-green">Transformamos tu consumo de energía</span> eléctrica en tu negocio o casa, dejando atrás la crisis ambiental. </p>
                        <p> Ayudamos a generar una <span class="strong-green">mejor calidad de vida</span> para todos. </p>
                        <br> </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>¿CÓMO FUNCIONA?</h3>
                        <p><span class="strong-green">En 4 sencillos pasos</span> podrás obtener tu financiamiento y empezar a ahorrar, sólo necesitas:</p>
                    </div>
                    <div class="col-xs-6 col-sm-2 text-center"> <img src="{% static 'images/que-es/que-es-01.png' %}" class="img-responsive" style="margin: 0 auto">
                        <br>
                        <p><span class="strong-green">Registra tu información.</span></p>
                    </div>
                    <div class="hidden-xs col-sm-1 text-center"> <img src="{% static 'images/que-es/flecha.png' %}" class="img-responsive" style="margin: 0 auto">
                        <br> </div>
                    <div class="col-xs-6 col-sm-2 text-center"> <img src="{% static 'images/que-es/que-es-02.png' %}" class="img-responsive" style="margin: 0 auto">
                        <br>
                        <p><span class="strong-green">Evaluación energética financiera.</span></p>
                    </div>
                    <div class="hidden-xs col-sm-1 text-center"> <img src="{% static 'images/que-es/flecha.png' %}" class="img-responsive" style="margin: 0 auto">
                        <br> </div>
                    <div class="col-xs-6 col-sm-2 text-center"> <img src="{% static 'images/que-es/que-es-03.png' %}" class="img-responsive" style="margin: 0 auto">
                        <br>
                        <p><span class="strong-green"> Obtén tus paneles solares y comienza a&nbsp;ahorrar.</span></p>
                    </div>
                    <div class="hidden-xs col-sm-1 text-center"> <img src="{% static 'images/que-es/flecha.png' %}" class="img-responsive" style="margin: 0 auto">
                        <br> </div>
                    <div class="col-xs-6 col-sm-2 text-center"> <img src="{% static 'images/que-es/que-es-04.png' %}" class="img-responsive" style="margin: 0 auto">
                        <br>
                        <p><span class="strong-green">Paga con tu ahorro.</span></p>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="text-left">En Eco Luz nos preocupamos por tu salud financiera; es por eso que siempre realizamos los cálculos necesarios a tu favor, para que pagues menos luz de lo que actualmente pagas.</p>
                        <p>Este cálculo considera todo lo necesario: Paneles solares + accesorios + instalación + suministro de instalación + intereses e impuestos.</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br> </div>
                </div>
            </div>
        </div>
    </div> 
    {% endblock %}
    <!-- End container carousel -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->

    {% block js-special %}
    <script>
    $(document).ready(function(){
            $("#que-es").addClass("active");
    });
    </script>
    {% endblock %}
    <!-- End Page script -->