{% extends "base.html" %}
  
{% block head_title %}Términos y Condiciones{% endblock %}
   
     
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>TÉRMINOS Y CONDICIONES</h3>
                        <br> </div>
                    <div class="col-sm-offset-1 col-sm-10" style="background-color: #e5e5e5;">
                        <br>
                        <p class="text-justify"> El usuario/cliente (el “Usuario”) de la presente página web, sitio web o página de internet (el “Sitio”), reconoce que el uso efectivo o registro exitoso de alguna operación de un Usuario, presume la aceptación de las condiciones de uso de Sitio propiedad de <strong class="strong-green">Soluciones Empresariales Rentables SAPI de CV S.A.P.I. de C.V. (“ECO LUZ”)</strong>, así como, de conformidad con el Artículo 80 del Código de Comercio, otorga su consentimiento a los términos y condiciones siguientes:
                            <br>
                            <br> El Usuario declara y garantiza, bajo protesta de decir verdad, que es mayor de edad y que cuenta con la capacidad jurídica necesaria para realizar las actividades que se contienen en el Sitio, así como que toda la información y documentación que ha proporcionado y/o proporcione en relación con cualquier actividad que se promueva en el Sitio, es verdadera, completa y correcta, quedando, por ende, obligada a indemnizar y sacar en paz y a salvo a <strong class="strong-green">ECO LUZ</strong> de cualquier daño, perjuicio, demanda y/o acción que dicha omisión o falsedad le provoque.
                            <br>
                            <br> El Usuario, otorga su consentimiento para:
                            <br>
                            <ul class="text-justify">
                                <li>Que <strong class="strong-green">ECO LUZ</strong> comparta y/o proporcione la información financiera, comercial, operativa y personal del Usuario, así como la relativa a cualquier actividad que se promueve en el Sitio.</li>
                                <li>Que su información pueda ser utilizada por <strong class="strong-green">ECO LUZ</strong> con fines mercadotécnicos y/o publicitarios; recibir en su domicilio particular y/o laboral, correos electrónicos personales y/o laborales, teléfonos fijos particulares y/o laborales, teléfonos móviles particulares y/o laborales o, por cualquier otro medio, publicidad de los bienes, productos y/o servicios; </li>
                                <li>Que <strong class="strong-green">ECO LUZ</strong> y/o la persona que designe, realicen llamadas a cualquier teléfono y/o visitas a cualquier domicilio del Usuario y/o en relación con cualquier referencia que sea ofrecida por el Usuario, además de los días hábiles, en días que sean declarados como inhábiles y, a cualquier hora, para el efecto de requerirle el o los pagos que a su cargo se lleguen a establecer por virtud de las actividades que se promueven en el Sitio.</li>
                                <li>El Usuario declara y garantiza que los recursos económicos utilizados en relación con las actividades que se promueven en el Sitio,provienen y provendrán de fuentes lícitas y serán utilizados para actividades lícitas en todo momento, a sabiendas de que en caso contrario, <strong class="strong-green">ECO LUZ</strong> procederá a realizar todas las acciones a que haya lugar, quedando además obligado el Usuario a indemnizar y sacar en paz y a salvo a <strong class="strong-green">ECO LUZ</strong> de cualquier daño, perjuicio, demanda y/o acción que dicho incumplimiento le provoque.</li>
                                <li>El Usuario reconoce que cualquier actividad propuesta en el Sitio y/o los documentos que de ellas se generen, no son susceptibles de circular y por ende, ninguno de los documentos, actividades, obligaciones y derechos antes mencionados, versan sobre “valores” según se define en la Ley del Mercado de Valores, así como que <strong class="strong-green">ECO LUZ</strong> no ha realizado ninguna solicitud, ofrecimiento o promoción para la captación, según la Ley de Instituciones de Crédito.</li>
                                <li><strong class="strong-green">ECO LUZ</strong> tiene la convicción de proteger la información personal proporcionada por sus usuarios (en adelante “Datos Personales”) y es el responsable de su tratamiento cuando sean recabados a través del Sitio. El ingreso y/o registro a través del Sitio, implica el consentimiento pleno y sin reservas de los usuarios para el tratamiento de sus Datos Personales, de acuerdo con el presente Aviso de Privacidad.</li>
                                <li>Los Datos Personales que los usuarios proporcionen al momento de su ingreso y/o registro al Sitio, tienen como finalidad el crear un expediente y facilitar el acceso a su cuenta, así como a su configuración, como el cargar y descargar videos, fotos, sonidos, etc. La recopilación de datos, se llevara a cabo única y exclusivamente a través de los formularios publicados en la web y podrán verificarse vía telefónica o por medios electrónicos.</li>
                                <li>En caso de no contar con los datos señalados, <strong class="strong-green">ECO LUZ</strong> no estaría en posibilidad de proporcionar su servicio, ya que los datos que se solicitan son indispensables para dar acceso y uso a la página web.</li>
                                <li><strong class="strong-green">ECO LUZ</strong> cuenta con medidas físicas, técnicas y administrativas de seguridad para la protección de los Datos Personales proporcionados por los usuarios. <strong class="strong-green">ECO LUZ</strong> se reserva el derecho de modificar en cualquier momento el contenido de la presente Política de Privacidad. Cualquier cambio en la Política de Privacidad, le será informado a sus usuarios a través del Sitio.</li>
                                <li>Una vez que se publique el Aviso de Privacidad en el Sitio, entrará en vigor automáticamente y deberá dar estricto cumplimiento al texto.</li>
                                <li>Autorizo expresamente a <strong class="strong-green">ECO LUZ</strong> para que por conducto de sus empleados facultados, lleve a cabo investigaciones sobre mi comportamiento crediticio en las Sociedades de Información Crediticia que estime conveniente.
Asimismo, declaro que conozco la naturaleza y alcance de la información que se solicitará, del uso que <strong class="strong-green">ECO LUZ</strong> hará de tal información y de que , ésta podrá realizar consultas periódicas de su historial crediticio , consintiendo que ésta autorización se encuentre vigente por un período de 3 años contados a partir de su fecha de expedición y en todo caso, durante el tiempo que mantengamos relación jurídica.
Estoy consciente y acepto que este documento quede bajo propiedad de <strong class="strong-green">ECO LUZ</strong> y/o Sociedad de Información Crediticia consultada, para efectos de control y cumplimiento del Art. 28 de la Ley para Regular Sociedades de Información Crediticia.</li>
                                <li>El Usuario reconoce que ha leído, reconoce y acepta los términos y condiciones del Sitio.</li>
                            </ul>
                        </p>
                        <br> </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>
   {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->