{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Conoce tu Ahorro{% endblock %}
<!--<body class="body-back-calculadora">-->
 {% block class-body %}body-back-calculadora{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                <div class="row">
                    <div class="col-sm-12 ">
                        <h3 class="strong-white">CALCULADORA DE FINANCIAMIENTO</h3>
                        <br> </div>
                    <div class="col-sm-offset-2 col-sm-10" style="background-color: #fff; padding-left: 4%">
                        <br>
                        <br>
                        <!-- <form class="form-horizontal" role="form" > -->
                            <div class="form-group">
                                <h2>Datos de consumo</h2>
                                <div class="row">
                                    <label for class="col-lg-3 control-label">Consumo promedio mensual Kw:</label>
                                    <div class="col-lg-2"> {{ form_consumo.consumo_kw_mes }} </div>
                                    <label for class="col-lg-3 control-label">Importe mensual promedio:</label>
                                    <div class="col-lg-1" style="width: 3.333333%;"><span class="input-group-addon" style="width: 0.333333%; padding: 10px 12px;">$</span></div>
                                    <div class="col-lg-2">{{ form_consumo.importe_promedio }}</div>
                                </div>

                                <div class="row">
                                    <label class="col-lg-3 control-label">Páneles necesarios:</label>
                                    <div class="col-lg-2">{{ form_consumo.numero_de_paneles }}</div>
                                    <label class="col-lg-3 control-label">Monto del crédito:</label>
                                    <div class="col-lg-1" style="width: 3.333333%;"><span class="input-group-addon" style="width: 0.333333%; padding: 10px 12px;">$</span></div>
                                    <div class="col-lg-2">{{ form_consumo.credito }}</div>
                                </div>
                            </div>
                            {% if excedePR %}
                            <div class="form-grupo">
                                <h3>EN TU CASO EL PERÍODO DE FINANCIAMIENTO ES MUY LARGO (MÁS DE 10 AÑOS). PARA PODER ACCEDER AL PLAN MODERADO O LARGO PLAZO ES NECESARIO QUE DES UN ENGANCHE.</h3>
                                <div class="row">
                                    <label class="col-lg-4 control-label" style="padding-left: 14%;">Puedo dar enganche de:</label>
                                    <div class="col-lg-1" style="width: 3.333333%;"><span class="input-group-addon" style="padding: 10px 12px;">$</span></div>
                                    <div class="col-lg-2"><input type="number" class="form-control" id="enganche" value="0" /></div>
                                    <div class="col-lg-4"><input type="button" class="btn btn-success" id="calculate_button" value="ACTUALIZAR PLANES" /></div>
                                </div>
                            </div>
                            {% else %}
                            <h3>Tenemos los siguientes planes de financiamiento para ti</h3>
                            {% endif %}
                            <!--- Inicia columnas -->
                            <div class="container">
                                  <!-- Example row of columns -->
                                  <div class="row">
                                    <div class="col-md-3">
                                        <form action="{% url 'bots:plan-express' %}" method="post">
                                            <h2>Plan Express</h2>{% csrf_token %}
                                            {{ form_express|crispy }}
                                            <p><button type="submit" class="btn btn-flat btn-primary" id="ex">ELEGIR</button></p>
                                        </form>
                                    </div>

                                    <div class="col-md-3">
                                        <form action="{% url 'bots:plan-moderado' %}" method="post">
                                        <h2>Plan Moderado</h2>{% csrf_token %}
                                            {{ form_moderado|crispy }}
                                            {% if excedePR %}
                                            <p><button type="submit" class="btn btn-flat btn-primary" style="disabled: True;">ELEGIR</button></p>
                                            {% else %}
                                            <p><button type="submit" class="btn btn-flat btn-primary" id="mod">ELEGIR</button></p>
                                            {% endif %}
                                        </form>
                                    </div>

                                    <div class="col-md-3">
                                        <form action="{% url 'bots:plan-lp' %}" method="post">
                                        <h2>Plan Largo Plazo</h2>{% csrf_token %}
                                            {{ form_lp|crispy }}
                                            {% if excedePR %}
                                            <p><button type="submit" class="btn btn-flat btn-primary" style="disabled: True;">ELEGIR</button></p>
                                            {% else %}
                                            <p><button type="submit" class="btn btn-flat btn-primary" id="lp">ELEGIR</button></p>
                                            {% endif %}
                                        </form>
                                    </div>
                                  </div>
                            </div>
                            <!-- Fin columnas -->
                            {% if excedePR %}
                            {% else %}
                            <div class="form-grupo">
                                <h3>Puedes reducir tu plazo de pago si das un enganche</h3>
                                <div class="row">
                                    <label class="col-lg-4 control-label" style="padding-left: 14%;">Puedo dar enganche de:</label>
                                    <div class="col-lg-1" style="width: 3.333333%;"><span class="input-group-addon" style="padding: 10px 12px;">$</span></div>
                                    <div class="col-lg-2"><input type="number" class="form-control" id="enganche" value="0" /></div>
                                    <div class="col-lg-4"><input type="button" class="btn btn-success" id="calculate_button" value="ACTUALIZAR PLANES" /></div>
                                </div>
                            </div>
                            {% endif %}
                      <!--  </form>-->
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}
    <script>
    $(document).ready(function(){
            $("#conoce").addClass("active");
    });
    </script>
    <script type="text/javascript" src="{% static 'bots/js/calc.js' %}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script>
    $(document).ready(function () {
        $('input:text').each(function() {
        this.value = parseFloat(this.value.replace(/,/g, ""))
                .toFixed(2)
                .toString()
                .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        });
    });
    </script>
    {% endblock %}
