{% extends "base.html" %}
{% load static %}
{% block head_title %}Conoce tu Ahorro{% endblock %}
<!--<body class="body-back-calculadora">-->
 {% block class-body %}body-back-calculadora{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                <div class="row">
                    <div class="col-sm-12 ">
                        <h3 class="strong-white">CALCULADORA DE FINANCIAMIENTO</h3>
                    </div>
                    <div class="col-sm-offset-2 col-sm-8" style="background-color: #fff;">
                        <br>
                        <br>
                        <div class="container">
                            <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-1 text-center">
                                <span> <strong class="strong-black">Bienvenido a nuestra calculadora de financiamiento <strong class="strong-green">ECO LUZ</strong>. En tres sencillos pasos  podrás elegir la mejor opción de financiamiento para tu equipo de energía solar y comenzar a ahorrar.</strong></span>
                                <br>
                                <br>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-xs-12 col-sm-5 col-lg-offset-1  text-center"> <img src="{% static 'images/recibo-frente.png' %}" class="img-responsive" style="margin: 0 auto">
                                    <br>
                                    <p><span class="strong-green">Ubica tu número de servicio y tipo de tarifa en la parte frontal de tu recibo de luz</span></p>
                                </div>

                            </div>
                        </div>
                        <form class="form-horizontal" role="form" id="cal" method="post">
                            <div class="form-group">
                                <h3 class="col-sm-offset-3">Ingresa los datos de tu recibo:</h3>

                            <div class="container">
                                        {% if messages %}
                                            <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="alert alert-danger col-md-5">
                                            {% for message in messages %}
                                                {{ message }}
                                            {% endfor %}
                                            </div>
                                            <div class="col-md-2"></div>
                                            </div>
                                        {% endif %}

                                        {% csrf_token %}
                                        <div class="row">
                                            <label class="control-label col-sm-2 col-lg-3">Nombre (escríbelo <strong class="strong-green"><ins>exactamente</ins></strong> como aparece en tu recibo):</label>
                                            <div class="col-sm-6 col-lg-4">{{ form.nombre }}</div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <label class="control-label col-sm-2 col-lg-3">Número de servicio:</label>
                                            <div class="col-lg-4 col-sm-6">{{ form.rpu }}</div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <label class="control-label col-sm-2 col-lg-3">Tarifa:</label>
                                            <div class="col-lg-4 col-sm-6">{{ form.tarifa }}</div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-3">
                                                <button type="submit" class="btn btn-flat btn-success" id="consultar">CONSULTAR</button>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                        <div class="row">
                                                <br>
                                                <p class="col-md-4 col-md-offset-3" id="espere" style="display:none; width: 27.333333% !important;">Espere un momento, estamos obteniendo su información...</p>
                                                <div class="col-md-2 col-md-offset-4"></div><img src="{% static 'images/loading.gif' %}" id="img" style="display:none; width: 60px;" /></div>
                                        </div>
                            </div>

                            </div>
                        </form>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}
    <script>
    $(document).ready(function(){
            $("#conoce").addClass("active");
    });
    </script>

    <script>
         $('#consultar').click(function(){
            if( document.getElementById("id_nombre").checkValidity() && document.getElementById("id_rpu").checkValidity() && document.getElementById("id_tarifa").checkValidity() ) {
                $('#img').show(); //<----here
                document.getElementById("espere").style.display = "block";
            }
        });
    </script>
    {% endblock %}