{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Conoce tu Ahorro{% endblock %}
<!--<body class="body-back-calculadora">-->
 {% block class-body %}body-back-calculadora{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                <div class="row">
                    <div class="col-sm-12 ">
                        <h3 class="strong-white">ALGO SALIÓ MAL :(</h3>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}

    {% endblock %}