{% load crispy_forms_tags %}
<div id="opcion" class="modal fade" ariahidden="True">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">X</a>
                <h1 style="text-align:center;">
                    TU FINANCIAMIENTO ECOLUZ
                </h1>
            </div>
            <div class="modal-body">
                <form method="post" id="procesar" action="{% url 'bots:procesar' %}">
                    <div class="form-group">
                        {% csrf_token %}
                        <!--<div id="div_id_first_name" class="form-group"> <label for="plan" class="control-label ">Plan elegido</label>
                            <div class="controls "><input type="text" name="plan" disabled="True" id="plan" class="textinput textInput form-control" maxlength="20">
                            </div> </div>

                        <div id="div_id_last_name" class="form-group"> <label for="credito" class="control-label ">Monto del crédito</label>
                            <div class="controls "> <input type="text" name="credito" disabled="True" id="credito" class="textinput textInput form-control" maxlength="20">
                            </div> </div>

                        <div id="div_id_telefono" class="form-group"> <label for="eng" class="control-label ">Enganche</label>
                            <div class="controls "> <input type="text" name="eng"  disabled="True" id="eng" class="textinput textInput form-control" maxlength="20">
                            </div> </div>

                        <div id="div_id_rfc" class="form-group"> <label for="mensualidad" class="control-label ">Pago mensual</label>
                            <div class="controls "> <input type="text" name="mensualidad" disabled="True" id="mensualidad" class="textinput textInput form-control" maxlength="20">
                            </div> </div>

                        <div id="div_id_razon_social" class="form-group"> <label for="num_pagos" class="control-label ">Cantidad de mensualidades</label>
                            <div class="controls "> <input type="text" name="num_pagos" disabled="True" id="num_pagos"  class="textinput textInput form-control" maxlength="10">
                            </div> </div>

                        <div class="controls "> <input type="hidden" name="consumo_kw" disabled="True" id="consumo_kw" class="textinput textInput form-control" maxlength="20"></div>

                        <div class="controls "> <input type="hidden" name="importe_mens_cfe" disabled="True" id="importe_mens_cfe" class="textinput textInput form-control" maxlength="20"></div>-->
                        <!-- {% crispy form_plan %} -->
                        <button type="submit" class="btn btn-success">CONFIRMAR E IR A MI PERFIL</button>
                        <a href="#" class="btn btn-danger" style="color: #fff !important;" data-dismiss="modal">CANCELAR</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>