<div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="strong-white">TU PLAN DE FINANCIAMIENTO ECOLUZ</h3>
                        <br> </div>
                    <div class="col-sm-offset-1 col-sm-10" style="background-color: #e5e5e5;">
                        <br>
                        <p class="text-justify">
                            <br> ¡Felicidades! Ya has elegido tu plan de financiamiento <strong class="strong-green">ECO LUZ</strong>. El siguiente paso consiste en realizar tu evaluación financiera, para hacerlo vamos a necesitar información adicional la cual deberás ingresar en tu Perfil Ecoluz.
                            <br>
                            <h3 class="strong-green">Detalles de tu plan de financiamiento Ecoluz</h3>
                            <div class="col-sm-6 col-sm-offset-3">
                            <div id="div_id_estado_del_financiamiento" class="form-group"> <label for="id_estado_del_financiamiento" class="control-label ">Estatus del financiamiento</label>
                                <div class="controls "> <input type="text" name="plan_elegido" disabled="True" id="id_estado_del_financiamiento" value="PENDIENTE" class="textinput textInput form-control" maxlength="20"></div> </div>

                            <div id="div_id_plan_elegido" class="form-group"> <label for="id_plan_elegido" class="control-label ">Plan de financiamiento elegido</label>
                            <div class="controls "> <input type="text" name="plan_elegido" disabled="True" id="id_plan_elegido" value="{{ user.plan_elegido }}" class="textinput textInput form-control" maxlength="20"> </div> </div>

                            <div id="div_id_monto_credito" class="form-group"> <label for="id_monto_credito" class="control-label ">Monto del crédito</label>
                            <div class="controls "> <input type="text" name="monto_credito" disabled="True" id="id_monto_credito" value="{{ user.monto_credito }}" class="textinput textInput form-control" maxlength="20"> </div> </div>

                            <div id="div_id_numero_de_paneles" class="form-group"> <label for="id_numero_de_paneles" class="control-label ">Cantidad de páneles</label>
                            <div class="controls "> <input type="text" name="numero_de_paneles" disabled="True" id="id_numero_de_paneles" value="{{ user.numero_de_paneles }}" class="textinput textInput form-control" maxlength="10"> </div> </div>

                            <div id="div_id_enganche" class="form-group"> <label for="id_enganche" class="control-label ">Enganche</label>
                            <div class="controls "> <input type="text" name="enganche" disabled="True" id="id_enganche" value="{{ user.enganche }}" class="textinput textInput form-control" maxlength="20"> </div> </div>

                            <div id="div_id_numero_de_pagos" class="form-group"> <label for="id_numero_de_pagos" class="control-label ">Cantidad de pagos</label>
                            <div class="controls "> <input type="text" name="numero_de_pagos" disabled="True" id="id_numero_de_pagos" value="{{ user.numero_de_pagos }}" class="textinput textInput form-control" maxlength="5"> </div> </div>

                            <div id="div_id_pago_mensual" class="form-group"> <label for="id_pago_mensual" class="control-label ">Pago mensual</label>
                            <div class="controls "> <input type="text" name="pago_mensual" disabled="True" id="id_pago_mensual" value="{{ user.pago_mensual }}" class="textinput textInput form-control" maxlength="20"> </div> </div>
                            Asimismo, deberás incluir en tu perfil los siguientes documentos en formato PDF:
                            <ul class="text-justify">
                                <li>Recibo de luz más reciente</li>
                                <li>identificaión. Puede ser pasaporte vigente o credencial del INE por ambos lados</li>
                                <li>Cédula RFC</li>
                                <li>CURP</li>
                                <li>Comprobante de domicilio (recibo de teléfono/celular, gas, agua, predial, estados de cuenta bancarios)</li>
                                <li>Comprobante ingresos del último año</li>
                                <li>Una fotografía tuya en formato PNG o JPG</li>
                                <li>Datos de un obligado solidario (aval)</li>
                                <li>Identificación del aval. Pasaporte vigente o credencial del INE por ambos lados</li>
                                <li>CURP del aval</li>
                                <li>Cédula RFC del aval</li>
                                <li>Último recibo de luz del aval</li>
                                <li>Comprobante de domicilio del aval</li>
                            </ul>
                            <br>
                            <br>
                            <div class="form-group col-sm-offset-1"> <a href="http://{{ domain }}{% url 'clientes:editar_perfil' %}" class="btn btn-primary" style="color: #fff !important;">IR A MI PERFIL PARA COMPLETAR LA INFORMACIÓN</a> </div>
                            </div>
                            <br>
                        </p>
                        <br> </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>