<footer id="footer" class="footer footer-section">
        <div class="full-container">
            <div class="row">
                <div class="main_footer text-center p-top-40 p-bottom-30">
                    <!-- <p class="wow fadeInRight hidden-xs" data-wow-duration="1s"> ECO&nbsp;LUZ&nbsp;©2017 <sup> <i class="fa fa-circle fa-1x"></i> </sup> <a href="{% url 'aviso-de-privacidad' %}"><span class="">Aviso&nbsp;de&nbsp;Privacidad</span></a> <sup> <i class="fa fa-circle fa-1x"></i> </sup> <a href="{% url 'terminos-y-condiciones' %}"><span class="">Términos&nbsp;y&nbsp;Condiciones</span> </i></a> <sup> <i class="fa fa-circle fa-1x"></i> </sup> <a href="{% url 'contacto' %}"><span class="">Contacto</span></a> <sup> <i class="fa fa-circle fa-1x"></i> </sup> <a target="_blank" href="https://ecoluz.mx/blog/"><span class="">Blog</span> </a> <sup> <i class="fa fa-circle fa-1x"></i> </sup> -->
                    <p class="wow fadeInRight hidden-xs" data-wow-duration="1s"> ECO&nbsp;LUZ&nbsp;©2017 <sup> <i class="fa fa-circle fa-1x"></i> </sup> <a href="{% url 'aviso-de-privacidad' %}"><span class="">Aviso&nbsp;de&nbsp;Privacidad</span></a> <sup> <i class="fa fa-circle fa-1x"></i> </sup> <a href="{% url 'terminos-y-condiciones' %}"><span class="">Términos&nbsp;y&nbsp;Condiciones</span> </i></a> <sup> <i class="fa fa-circle fa-1x"></i> </sup> <a href="{% url 'contacto' %}"><span class="">Contacto</span></a> <sup> <i class="fa fa-circle fa-1x"></i> </sup>
                        <a target="_blank" href="https://www.facebook.com/Eco-Luz-248428562177763/"> <i class="fa fa-facebook-official fa-lg"></i> </a> <sup> <i class="fa fa-circle fa-1x"></i> </sup>
                        <a target="_blank" href="https://twitter.com/@Ecoluz_mx"> <i class="fa fa-twitter fa-lg"></i> </a>
                    </p>
                    <p class="wow fadeInRight visible-xs" data-wow-duration="1s"> ECO&nbsp;LUZ&nbsp;©2017
                        <br>
                        <a target="" href="{% url 'terminos-y-condiciones' %}"> <i class="fa fa-book fa-1x"></i> </a> <sup> <i class="fa fa-circle fa-1x"></i> </sup>
                        <a target="" href="{% url 'aviso-de-privacidad' %}"> <i class="fa fa-gavel fa-1x"></i> </a> <sup> <i class="fa fa-circle fa-1x"></i> </sup>
                        <a target="" href="{% url 'contacto' %}"> <i class="fa fa-envelope fa-1x"></i> </a> <sup> <i class="fa fa-circle fa-1x"></i> </sup>
                        <!-- <a target="_blank" href="https://ecoluz.mx/blog/"> <i class="fa fa-newspaper-o fa-1x"></i> </a> <sup> <i class="fa fa-circle fa-1x"></i> </sup> -->
                        <a target="" href="#"> <i class="fa fa-comment fa-1x"></i> </a> <sup> <i class="fa fa-circle fa-1x"></i> </sup>
                        <a target="_blank" href="https://www.facebook.com/Eco-Luz-248428562177763/"> <i class="fa fa-facebook-official fa-1x"></i> </a> <sup> <i class="fa fa-circle fa-1x"></i> </sup>
                        <a target="_blank" href="https://twitter.com/@Ecoluz_mx"> <i class="fa fa-twitter fa-1x"></i> </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
   