{% extends "usuarios/base-eco.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Editar perfil{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="/usuarios/perfil"><span>VER MI PERFIL</span></a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="/usuarios/perfil/editar">EDITAR INFORMACIÓN DE MI PERFIL</a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="/usuarios/cambiar-contrasena">CAMBIAR CONTRASEÑA</a></p>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <p><a class="btn btn-warning col-md-8 col-md-offset-2" style="color: #fff !important;" href="/usuarios/adios">SALIR</a></p>
                                    </div>
                                </div>

                                <div class="col-md-7 ">
                                    <h3>COMPLETE SU INFORMACIÓN</h3>
                                    <br>
                                    <p>En esta página podrás llenar la información requerida para continuar con tu registro <strong class="strong-green">Eco Luz</strong>. Antes de guardar la información, verifica que ésta sea correcta y que hayas subido los documentos requeridos.</p>
                                    <br>
                                    <ul class="nav nav-tabs">
                                        <li class="tab-pane active">
                                            <a href="#infos" data-toggle="tab">Información del Perfil</a>
                                        </li>

                                        <li class="tab-pane">
                                            <a href="#subir-docs" data-toggle="tab">Subir documentos</a>
                                        </li>
                                    </ul>
                                    <form method="post" enctype="multipart/form-data" class="mainForm">
                                        {% csrf_token %}
                                        <div class="tab-content panel-body">
                                            <div id="infos" class="tab-pane active" >
                                        {% crispy cliente_form cliente_form.helper_name_info %}
                                            </div>
                                            <div id="subir-docs" class="tab-pane" >
                                        {% crispy user_form user_form.helper_some_info %}
                                            </div>
                                        </div>

                                        <p><button type="submit" class="btn btn-flat btn-primary">GUARDAR CAMBIOS</button></p>
                                    </form>
                                </div>
                                </div>
                                </div>
                            </div>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}

    {% endblock %}