{% extends "usuarios/base-eco.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Acceso a Usuarios{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-7 ">
                                        <h3><strong class="strong-green">ACCESO PARA USUARIOS</strong></h3>
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <button type="submit" class="btn btn-flat btn-primary">INGRESAR A MI PERFIL</button>
                                            <a class="btn btn-warning " style="color: #fff !important;" href="/usuarios/reestablecer-contrasena/">Olvidé mi contraseña</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
     </div>



    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}

    {% endblock %}