{% load static %}
<nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
        <!-- Start Top Search
        <div class="top-search">
            <div class="container">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-search fa-2x"></i></span>
                    <input type="text" class="form-control" placeholder="Buscar..."> <span class="input-group-addon close-search"><i class="fa fa-times fa-lg"></i></span> </div>
            </div>
        </div>
         End Top Search -->
        <div class="container">
            <!-- Start Atribute Navigation
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search fa-lg strong-green"></i></a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
                <a class="navbar-brand" href="{% url 'inicio' %}"> <img src="{% static 'images/ecoluz-logo.png' %}" class="logo logo-display" alt=""> <img src="{% static 'images/ecoluz-logo.png' %}" class="logo logo-scrolled" alt=""> </a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu" style="margin-right:-30%">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    