{% extends "usuarios/base-eco.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block head_title %} Mi Perfil {% endblock %}

{% block head-eco %}

<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>-->

<!--<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js">-->
<!--</script>-->




{% endblock %}



<body class="">
	<!-- Start header navbar -->
	<nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
		<!-- Start Top Search
        <div class="top-search">
            <div class="container">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-search fa-2x"></i></span>
                    <input type="text" class="form-control" placeholder="Buscar..."> <span class="input-group-addon close-search"><i class="fa fa-times fa-lg"></i></span> </div>
            </div>
        </div>
         End Top Search -->
	</nav>{% block content %}
	<div class="container" style="width: 90%; !important;">
		<div class="row">
			<div class="col-sm-12" style="margin-top: 100px">
				<div class="col-md-12" style="width: 100%">
					<br>
					<div class="form-group">
						<div class="row">
							<div class="row">
								<a class="btn btn-primary col-md-2 col-md-offset-1" href="/usuarios/perfil" style="color: #fff !important;"><span>VER MI PERFIL</span></a>
                                <a class="btn btn-primary col-md-2 col-md-offset-1" href="/usuarios/perfil/editar" style="color: #fff !important;">EDITAR MI PERFIL</a>
                                <a class="btn btn-primary col-md-2 col-md-offset-1" href="/usuarios/cambiar-contrasena" style="color: #fff !important;">CAMBIAR CONTRASEÑA</a>
                                <a class="btn btn-warning col-md-1 col-md-offset-1" href="/usuarios/adios" style="color: #fff !important;">SALIR</a>
							</div><!--<div class="col-md-4">-->
							<!--<div class="row">-->
							<!--<p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="/usuarios/perfil"><span>VER MI PERFIL</span></a></p>-->
							<!--</div>-->
							<!--<br>-->
							<!--<div class="row">-->
							<!--<p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="/usuarios/perfil/editar">EDITAR INFORMACIÓN DE MI PERFIL</a></p>-->
							<!--</div>-->
							<!--<br>-->
							<!--<div class="row">-->
							<!--<p><a class="btn btn-primary col-md-8 col-md-offset-2" style="color: #fff !important;" href="/usuarios/cambiar-contrasena">CAMBIAR CONTRASEÑA</a></p>-->
							<!--</div>-->
							<!--<br>-->
							<!--<div class="row">-->
							<!--<p><a class="btn btn-warning col-md-8 col-md-offset-2" style="color: #fff !important;" href="/usuarios/adios">SALIR</a></p>-->
							<!--</div>-->
							<!--</div>-->
							<div class="col-md-11">
   								<br>
								<br>

								<h4>PORTAL DE USUARIO DEL ECO</h4><br>
								<br>
								{% if messages %}
								<div class="row">
									<div class="col-md-2"></div>
									<div class="alert alert-info col-md-5 alert-dismissable">
										<a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a> {% for message in messages %} {{ message }} {% endfor %}
									</div>
									<div class="col-md-2"></div>
								</div>{% endif %} <!-- Empiezan Tabs -->
								<form class="mainForm" enctype="multipart/form-data">
									<ul class="nav nav-tabs">
										<li class="tab-pane active">
											<a data-toggle="tab" href="#mis-datos">Mis datos</a>
										</li>
										<li class="tab-pane">
											<a data-toggle="tab" href="#capacitacion">Capacitación</a>
										</li>
										<li class="tab-pane">
											<a data-toggle="tab" href="#cronograma">Cronograma de trabajo</a>
										</li>
										<li class="tab-pane">
											<a data-toggle="tab" href="#registro-nuevos">Mis créditos</a>
										</li>
									</ul>
									<div class="tab-content panel-body">
										<div class="tab-pane active" id="mis-datos">
											<div class="form-group" id="div_id_first_name">
												<label class="control-label" for="id_first_name">Nombre</label>
												<div class="controls">
													<input class="textinput textInput form-control" disabled="true" id="id_first_name" maxlength="30" name="first_name" type="text" value="{{ user.first_name }}">
												</div>
											</div>
											<div class="form-group" id="div_id_last_name">
												<label class="control-label" for="id_last_name">Apellidos</label>
												<div class="controls">
													<input class="textinput textInput form-control" disabled="true" id="id_last_name" maxlength="30" name="last_name" type="text" value="{{ user.last_name }}">
												</div>
											</div>
											<div class="form-group" id="div_id_foto_file">
												<label class="control-label">Foto</label> {% if usuario.foto_dar %}
												<div class="controls">
													<a class="btn btn-default" href="{{ usuario.foto_dar.url }}" target="_blank">VER ARCHIVO</a>
												</div>{% else %}
												<div class="controls">
													<span>NO HAY FOTO DEL USUARIO</span>
												</div>{% endif %}
											</div>
										</div>
										<div class="tab-pane" id="capacitacion">
											<p>0. Introducción <a href="https://drive.google.com/drive/folders/0Bznn6eCtxLBKM2IzYUtLVTRRMW8" target="_blank">AQUÍ</a>.</p><br>
												<p>		ECOLUZ </p> <iframe allowfullscreen frameborder="0" height="315" src="https://www.youtube.com/embed/gJ8v1l9mfkI" width="560"></iframe>
											<p>1. Módulo ventas: modelo de negocio <a href="https://drive.google.com/drive/folders/0Bznn6eCtxLBKM2IzYUtLVTRRMW8" target="_blank">AQUÍ</a>.</p><br>
											<p>2. Módulo producto: datos técnicos <a href="https://drive.google.com/drive/folders/0Bznn6eCtxLBKM2IzYUtLVTRRMW8" target="_blank">AQUÍ</a>.</p><br>
											<p>3. Módulo proceso de operación DAR <a href="https://drive.google.com/drive/folders/0Bznn6eCtxLBKM2IzYUtLVTRRMW8" target="_blank">AQUÍ</a>.</p><br>
											<p>4. Módulo de sistemas <a href="https://drive.google.com/drive/folders/0Bznn6eCtxLBKM2IzYUtLVTRRMW8" target="_blank">AQUÍ</a>.</p><br>
											<p>5. Módulo de finanzas <a href="https://drive.google.com/drive/folders/0Bznn6eCtxLBKM2IzYUtLVTRRMW8" target="_blank">AQUÍ</a>.</p><br>

											<p>MANUAL OPERATIVO DAR</p><iframe allowfullscreen frameborder="0" height="315" src="https://www.youtube.com/embed/yqEtFZ2OZkY" width="560"></iframe><br>
											<br>
											<p></p>
										</div>



										<div class="tab-pane" id="cronograma">
											<p>AQUÍ ESTARÍA EL CRONOGRAMA DE TRABAJO ECOLUZ-DAR</p>
										</div>
										<div class="tab-pane" id="registro-nuevos">
											<div class="container" style="margin-left: 0%; margin-right:0%; width:97%;">
												<div class="row">
													<br>
													<br>
													 <table id="example" class="display" cellspacing="0" >
                <thead>
                <tr>
                    <th>FXF</th>
                    <th >CRÉDITO</th>
                    <th >BENEFICIARIO</th>
                    <th >ESTATUS</th>
					<th ><font size="2">FECHA COMPRA</font></th>
                    <th >#</th>
					<th ><font size="2">EQUIPOS</font></th>
                    <th >SUBTOTAL</th>
                    <th > <font size="2">FINANCIA-MIENTO </font></th>
					<th > <font size="2">PAGO TOTAL</font></th>
                    <th ># DÍAS</th>
                    <th >COM DAR</th>
					<th ><font size="2">ADEUDOS</font></th>
                    <th >OBSERVACIONES</th>
                </tr>
                </thead>
                <tbody>
                {% for eco_registro in registros %}
				<tr><td> <font size="2">{{ eco_registro.fxf_eqp }} </a></font> </td>
                    <td><font size="1">{{ eco_registro.numero_credito }}</font></td>
                    <td><font size="1">{{ eco_registro.nombre_beneficiario }}</font></td>
                    <!--<td>{{ eco_registro.patrocinado }}</td>-->
                    <td><font size="1">{{ eco_registro.estatus }}</font></td>
                    <td><font size="1">{{ eco_registro.fecha_compra | date:"d/m/y"  }}</font></td>
                    <td>{{ eco_registro.cantidad }}</td>
                    <td><font size="1">{{ eco_registro.modelo_equipo  }}</font></td>
                    <td>${{ eco_registro.subtotal_equipo |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.financiamiento_e |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.pago_total_e |floatformat:2|intcomma  }}</td>
                    <td> {{ eco_registro.fxf_eqp.numero_dias  }}</td>
                    <td>${{ eco_registro.com_dar_e |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.adeudos_eq |floatformat:2|intcomma  }}</td>
                    <!--<td>-->
                        <!--<font size="2">-->
                        <!--{% if eco_registro.factura_ecoluz %}-->
                                      <!--<a href="{{ eco_registro.factura_ecoluz.url }}">Ecoluz</a>-->
                                  <!--{% else %}-->
                                      <!--<span>Ecoluz</span>-->
                                  <!--{% endif %} /-->
                                  <!--{% if eco_registro.factura_fab %}-->
                                      <!--<a href="{{ eco_registro.factura_fab.url }}">FAB</a>-->
                                  <!--{% else %}-->
                                      <!--<span>FAB</span>-->
                                  <!--{% endif %} /-->
                                  <!--{% if eco_registro.factura_costos_dar %}-->
                                      <!--<a href="{{ eco_registro.factura_costos_dar.url }}">DAR</a>-->
                                  <!--{% else %}-->
                                      <!--<span>DAR</span>-->
                                  <!--{% endif %} /-->
                                     <!--{% if eco_registro.factura_reg %}-->
                                      <!--<a href="{{ eco_registro.factura_reg.url }}">DAR</a>-->
                                  <!--{% else %}-->
                                      <!--<span>REG</span>-->
                                  <!--{% endif %}-->
                        <!--</font>-->
                    <!--</td>-->
                     <td>{{ eco_registro.obs_e }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
												</div>
											</div>
										</div>
									</div>
								</form><!-- End Tabs -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    {% endblock %}
    <!-- End container -->

    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% endblock %}
    <!-- End footer -->


    {% block js-special %}
	<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').DataTable();
			} );
</script>

<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>



    {% endblock %}