{% extends 'usuarios/base-eco.html' %}

    {% block content %}
<div class="container">
<br><br><br><br><br>
    <h1>Restablecer contraseña</h1>
    <p>¿Olvidaste tu contraseña?</p>
    <p>Ingresa la dirección con la que te registraste y te enviaremos un correo electrónico con instrucciones para generar una nueva.</p>
    <h4> Ingresa tu correo electrónico </h4>
<form method = "post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
</form>

</div>
    {% endblock %}