{% extends 'ecoclientes/base-eco.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block head_title %}ECO en línea{% endblock %}




    {% block content %}


		<div class="container" style="margin-left: 5%; margin-right: -150%;">
            <div class="row">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 style = "margin-left: 25px; ">     ADEUDOS DARs </h3>
                    <p style = "margin-left: 23px">Relación de adeudos por DAR</p>


        {% for a, k in dars.items %}

                <table id="{{ a }}" class="display" cellspacing="0" width="auto" style="margin-right: 3%; margin-right: 3%">
                <thead>
                <tr>
                    <th colspan="3" style = "background-color:Red" align ="center"> {{ a }} </th>
                </tr>
                <tr>
                    <th>Folio</th>
                    <th width="5px">    </th>
                    <th>Monto Adeudo</th>
                </tr>
                </thead>


                <tbody>
                     {% for aa in k %}

                 <tr>

                     <td> <a href="{% url 'ecoclientes:ver_registro' aa.fxf  %}"> {{ aa.fxf }}  </td>
                     <th>  </th>
                    <td align="right">${{ aa.adeudos |floatformat:2|intcomma }}</td>

                 </tr>
                                    {% endfor %}

                </tbody>



            </table>

                    <br>



<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	var aidi = {{ a }}
	$('#{{ a }}')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>


                {% endfor %}




		</div>
    </div>



    {% endblock %}

    {% block js-special %}









    {% endblock %}

