{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Ingresar nuevo registro{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="container">
                                <div class="col-md-6 col-md-offset-3 ">
                                    <br><h2>ADMINISTRAR FACTURACIÓN</h2>
                                    <br><strong class="strong-green"></strong>
                                <br>

                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form | crispy  }}
                                        <button type="submit" class="btn btn-flat btn-primary">GENERAR</button>
                                        &nbsp;
                                            {% for error in field.errors %}
                                              <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                          </p>
                                      </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> </div>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% include 'TYC_modal.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}
    <script type="text/javascript" src="{% static 'js/tyc.js' %}"></script>

    {% endblock %}