<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>

    {% include 'head/_metas.html' %}
    <title>Eco en línea | {% block head_title %}{% endblock %}</title>
    {% include 'head/_links-head.html' %}
    {% block css-special %}
    {% endblock %}

    {% block head-eco %}
    {% endblock %}

</head>

<body class="{% block class-body %}{% endblock %}">
    <!-- Start header navbar -->
        {% include 'ecoclientes/navbar-eco.html' %}
    <!-- End header navbar -->
    <!-- Start container carousel -->
    {% block content %}
    {% endblock %}
    <!-- End container carousel -->
    <!-- Start button chat fixed desktop
    {% include 'footer/_chatBtn-desktop.html' %}
    <!-- End button chat fixed desktop -->
    <!-- Start footer -->
    {% block footer %}
    {% endblock %}
    <!-- End footer -->
    <!-- Start Scripts JS -->
    {% include 'scripts/_scripts-js.html' %}
    {% block js-special %}
    {% endblock %}
</body>

</html>