{% extends 'ecoclientes/base-eco.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Editando datos de Inversionista {% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="container">
                                <div class="col-md-6 col-md-offset-3 ">
                                    <br><h2>EDITAR INVERSIONISTA</h2>
                                    <br><strong class="strong-green">Editando datos del inversionista {{ equipo }} </strong>
                                <br>
                                    <form method="post" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        {{ form | crispy  }}

                                        <div class="container">
                                            <input type="hidden" name="next" value="{{ request.path }}">

                                             <a href="{% url 'ecoclientes:archivar_inversionista'  equipo.PRLV %}"  name="mybtn" class="btn btn-danger">Eliminar registro</a>

                                        <button type="submit" name="enviar" class="btn btn-flat btn-primary">GUARDAR</button>
                                        &nbsp;
                                                                                    </div>

                                            {% for error in field.errors %}
                                              <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                          </p>
                                      </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    <!--<script type="text/javascript" src="{% static 'js/plazasDAR.js' %}"></script>-->


</div>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% include 'TYC_modal.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}
    <script type="text/javascript" src="{% static 'js/tyc.js' %}"></script>
    {% endblock %}