{% extends 'ecoclientes/base-eco.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block head_title %}ECO en línea{% endblock %}




    {% block content %}

<div class="container">
                <br>
                <br>
                <br>
                <br>


<style>
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}
</style>


<div class="container" style="margin-left: 5%; ">

        <div class="row">


            <div class="column">
                 <br> <br>

                <form method="post">
                        {% csrf_token %}

                         <br>
                        Ventas en CxC + Inventario:
                          <input action="/ecoclientes/flujos" align="right" type="text" name="vcci" value = {{ dd.vcci }} ><br>
                        Banco INB 163:
                          <input action="/ecoclientes/flujos" type="text" name="banco" value ={{ dd.bc }}><br>
                        Banco BBVA:
                          <input action="/ecoclientes/flujos" type="text" name="bancoBBVA"value = {{ dd.bbva }}><br>
                        MercadoPago:
                          <input action="/ecoclientes/flujos" type="text" name="mercadoPago" value = {{ dd.mercapago }}><br>
                        Deuda SER HUB:
                          <input action="/ecoclientes/flujos" type="text" name="deudaSERHUB" value = {{ dd.deudaSH }} ><br>
                        Deuda CoinHub:
                          <input action="/ecoclientes/flujos" type="text" name="deudaCoinHub" value = {{ dd.deudaCH }} ><br>
                        Total de entradas:
                          <input action="/ecoclientes/flujos" type="text" name="tde" value = {{ dd.tde }} ><br>
                        Capital Deuda:
                          <input action="/ecoclientes/flujos" type="text" name="dc" value = {{ dd.dc }} ><br>
                        Intereses a hoy:
                          <input action="/ecoclientes/flujos" type="text" name="iah" value = {{ dd.iah }} ><br>
                        Monto deuda a hoy:
                          <input action="/ecoclientes/flujos" type="text" name="mdh" value = {{ dd.mdh }}><br>
                        Cuentas por cobrar COM-DAR:
                          <input action="/ecoclientes/flujos" type="text" name="cpccd" value = {{ dd.cpccd }} ><br>
                        Cuentas por cobrar fabricante:
                          <input action="/ecoclientes/flujos" type="text" name="cxpfab" value = {{ dd.cxpfab }} ><br>
                        Superhábit/deficit a hoy:
                          <input action="/ecoclientes/flujos" type="text" name="shdh" value = {{ dd.shdh }}><br>
                        Superhábit/deficit total:
                          <input action="/ecoclientes/flujos" type="text" name="shdt" value = {{ dd.shdt }} ><br>



                          <br><br>
                          <input type="submit" value="Submit">
                </form>

            </div>

        </div>

    </div>









</div>






    {% endblock %}

    {% block js-special %}


<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>

<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
    $('#example').DataTable( {
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            style:    'os',
            selector: 'td:first-child'
        },

    } );
} );
</script>

    {% endblock %}

