{% extends 'ecoclientes/base-eco.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block head_title %}ECO en línea{% endblock %}




    {% block content %}


		<div class="container" style="margin-left: 5%; margin-right: -150%;">
            <div class="row">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 style = "margin-left: 25px">     Transfiriendo DESCUENTOS de {{  vienede.fxf }} a {{ equipo.fxf_eqp.fxf }} </h3>


            <!--<table id="example" class="display" cellspacing="0" width="auto" style="margin-right: -130%;">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th style = "background-color:DarkOrange; width: 80px;">FXF</th>-->
                    <!--<th style = "background-color:DarkOrange">CRÉDITO</th>-->
                    <!--<th style = "background-color:DarkOrange">BENEFICIARIO</th>-->
                    <!--&lt;!&ndash;<th>PATR</th>&ndash;&gt;-->
                    <!--<th style = "background-color:DarkOrange">ESTATUS</th>-->
                    <!--<th style = "background-color:#00acff">FECHA COMPRA</th>-->
                    <!--<th style = "background-color:DarkOrange">#</th>-->
                    <!--<th style = "background-color:DarkOrange">EQUIPOS</th>-->
                    <!--<th style = "background-color:DarkOrange">SUBTOTAL</th>-->
                    <!--<th style = "background-color:GoldenRod" > <font size="2">FINANCIA-MIENTO </font></th>-->
                    <!--<th style = "background-color:GoldenRod">PAGO_TOTAL</th>-->
                    <!--<th style = "background-color:GoldenRod"># DÍAS</th>-->
                    <!--<th style = "background-color:DarkOrange">COM DAR</th>-->
                    <!--<th style = "background-color:DarkOrange">ADEUDOS</th>-->
                    <!--<th style = "background-color:DarkOrange">DESCUENTOS</th>-->
                    <!--<th style = "background-color:DarkOrange">FACTURAS</th>-->
                    <!--<th style = "background-color:DarkOrange">OBSERVACIONES</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--{% for eco_registro in registros %}-->
                <!--<tr>-->
                    <!--<td>{{ eco_registro.fxf_eqp }} </td>-->
                    <!--<td><font size="2">{{ eco_registro.numero_credito }}</font></td>-->
                    <!--<td><font size="2">{{ eco_registro.nombre_beneficiario }}</font></td>-->
                    <!--&lt;!&ndash;<td>{{ eco_registro.patrocinado }}</td>&ndash;&gt;-->
                    <!--<td><font size="2">{{ eco_registro.estatus }}</font></td>-->
                    <!--<td><font size="2">{{ eco_registro.fecha_compra | date:"d/m/y"  }}</font></td>-->
                    <!--<td>{{ eco_registro.cantidad }}</td>-->
                    <!--<td><a href="{% url 'ecoclientes:editar_descuentos' eco_registro.pk  %}">{{ eco_registro.modelo_eqp  }} </a> </td>-->
                    <!--<td>${{ eco_registro.subtotal_equipo |floatformat:2|intcomma  }}</td>-->
                    <!--<td>${{ eco_registro.financiamiento_e |floatformat:2|intcomma  }}</td>-->
                    <!--<td>${{ eco_registro.pago_total_e |floatformat:2|intcomma  }}</td>-->
                    <!--<td> {{ eco_registro.fxf_eqp.numero_dias  }}</td>-->
                    <!--<td>${{ eco_registro.com_dar_e |floatformat:2|intcomma  }}</td>-->
                    <!--<td>${{ eco_registro.adeudos_eq |floatformat:2|intcomma  }}</td>-->
                    <!--<td>${{ eco_registro.descuentos |floatformat:2|intcomma  }}</td>-->
                    <!--<td>-->
                        <!--<font size="2">-->
                        <!--{% if eco_registro.factura_ecoluz %}-->
                                      <!--<a href="{{ eco_registro.factura_ecoluz.url }}">Ecoluz</a>-->
                                  <!--{% else %}-->
                                      <!--<span>Ecoluz</span>-->
                                  <!--{% endif %} /-->
                                  <!--{% if eco_registro.factura_fab %}-->
                                      <!--<a href="{{ eco_registro.factura_fab.url }}">FAB</a>-->
                                  <!--{% else %}-->
                                      <!--<span>FAB</span>-->
                                  <!--{% endif %} /-->
                                  <!--{% if eco_registro.factura_costos_dar %}-->
                                      <!--<a href="{{ eco_registro.factura_costos_dar.url }}">DAR</a>-->
                                  <!--{% else %}-->
                                      <!--<span>DAR</span>-->
                                  <!--{% endif %} /-->
                                     <!--{% if eco_registro.factura_reg %}-->
                                      <!--<a href="{{ eco_registro.factura_reg.url }}">DAR</a>-->
                                  <!--{% else %}-->
                                      <!--<span>REG</span>-->
                                  <!--{% endif %}-->
                        <!--</font>-->
                    <!--</td>-->
                     <!--<td>{{ eco_registro.obs_e }}</td>-->
                <!--</tr>-->
                <!--{% endfor %}-->

                <!--</tbody>-->
            <!--</table>-->
		</div>
    </div>


 <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="container">
                                <div class="col-md-6 col-md-offset-3 ">
                                    <br><strong class="strong"> Equipo  {{ equipo }} </strong>
                                    <p style = "margin-left: 23px">El máximo descuento aplicable es  {{ vienede.adeudos |floatformat:2|intcomma }} </p>
                                <br>
                                    <form method="post" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        {{ form | crispy  }}
                                        <button type="submit" name="enviar" class="btn btn-flat btn-primary">GUARDAR</button>
                                        &nbsp;
                                            {% for error in field.errors %}
                                              <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                          </p>
                                      </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <br> </div>
                    <br> </div>
            </div>
        </div>





    {% endblock %}

    {% block js-special %}


<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>

<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
    $('#example').DataTable( {
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            style:    'os',
            selector: 'td:first-child'
        },

    } );
} );
</script>

    {% endblock %}

