{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block head_title %}ECO en línea{% endblock %}





    {% block content %}


		<div class="container">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3>Factura generada exitosamente </h3>





            <a href="{{fac.pdf.url}}" target="_blank" class="btn btn-flat btn-primary">VER FACTURA PDF</a>

            <a href="{% url 'ecoclientes:cancela_factura' eco.fxf %}" class="btn btn-flat btn-danger">CANCELAR FACTURA</a>

            <a href="{% url 'ecoclientes:ver_registro' eco.fxf  %}" class="btn btn-flat btn-alert"> Regresar </a>

 </div>


<br>



    {% endblock %}

    {% block js-special %}

<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>

    {% endblock %}



