{% extends 'ecoclientes/base-eco.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block head_title %}ECO en línea{% endblock %}




    {% block content %}

<div class="container">
                <br>
                <br>
                <br>
                <br>

<table id="example" class="display" cellspacing="0" width="auto" style="margin-right: 3%;">
                <thead>
                <tr>
                    <th style = "background-color:#33ccff" >Nombre_Inversionista</th>
                    <th style = "background-color:#33ccff">PRLV</th>
                    <th style = "background-color:#33ccff">Capital</th>
                    <th style = "background-color:#33ccff">% </th>
                    <th style = "background-color:#33ccff">Tasa efectiva</th>
                    <th style = "background-color:#33ccff">Tasa efectiva real</th>
                    <th style = "background-color:#33ccff">Tasa anual</th>
                    <th style = "background-color:#33ccff">Interés</th>
                    <th style = "background-color:#33ccff">Monto Deuda</th>
                    <th style = "background-color:#33ccff">Inicio</th>
                    <th style = "background-color:#33ccff">Termino</th>
                    <th style = "background-color:#33ccff">Hoy</th>
                    <th style = "background-color:#33ccff">Días</th>
                    <th style = "background-color:#33ccff">% </th>
                    <th style = "background-color:#33ccff">Intereses a hoy</th>
                    <th style = "background-color:#33ccff">Folio_Fiscales</th>
                    <th style = "background-color:#33ccff">Estatus_PRLV</th>
                </tr>
                </thead>
                <tbody>
                     {% for a in invs %}

                     {% if a.corte %}

                 <tr>
                    <th rowspan="2"><a href="{% url 'ecoclientes:inversionista' a.PRLV  %}">{{ a.persona }}  </th>
                    <td rowspan="2">{{ a.PRLV }}</td>
                    <td rowspan="2">${{ a.capital  |floatformat:2|intcomma  }}</td>
                    <td rowspan="2">{{  a.porc   |floatformat:2|intcomma  }}% </td>
                    <td align="right">{{ a.tasa_efectiva  |floatformat:2|intcomma  }}%</td>
                    <td align="right">{{ a.tasa_efectiva_real  |floatformat:2|intcomma  }}%</td>
                    <td align="right"> {{ a.tasa_anual  |floatformat:2|intcomma  }}%</td>
                    <td align="right">${{ a.interes  |floatformat:2|intcomma  }}</td>
                    <td align="right">${{ a.monti |floatformat:2|intcomma }}</td>
                    <td align="right">{{ a.inicio | date:"d/m/y"  }}</td>
                    <td align="right">{{ a.corte | date:"d/m/y" }}</td>
                    <td align="right">{{ a.hoy  | date:"d/m/y"  }}</td>
                    <td align="right">{{ a.diasi    }}</td>
                    <td align="right">{{ a.porcdi  |floatformat:2|intcomma }}%</td>
                    <td align="right">${{ a.inti  |floatformat:2|intcomma }}</td>
                    <td align="right">{{ a.folio_fiscales   }}</td>
                    <td align="right">{{ a.estatus_PRLV }}</td>
                </tr>
                <tr>
                    <td align="right">{{ a.tasa_efectiva  |floatformat:2|intcomma  }}%</td>
                    <td align="right">{{ a.tasa_efectiva_real  |floatformat:2|intcomma  }}%</td>
                    <td align="right"> {{ a.tasa_anual  |floatformat:2|intcomma  }}%</td>
                    <td align="right">${{ a.interes  |floatformat:2|intcomma  }}</td>
                    <td align="right">${{ a.monto_deuda  |floatformat:2|intcomma }}</td>
                    <td align="right">{{ a.corte | date:"d/m/y"  }}</td>
                    <td align="right">{{ a.termino | date:"d/m/y" }}</td>
                    <td align="right">{{ a.hoy  | date:"d/m/y"  }}</td>
                    <td align="right">{{ a.dias    }}</td>
                    <td align="right">{{ a.porcd  |floatformat:2|intcomma }}%</td>
                    <td align="right">${{ a.intereses_hoy  |floatformat:2|intcomma }}</td>
                    <td align="right">{{ a.folio_fiscales   }}</td>
                    <td align="right">{{ a.estatus_PRLV }}</td>
                </tr>
                </tr>

                     {% else %}
                 <tr>
                    <th><a href="{% url 'ecoclientes:inversionista' a.PRLV  %}">{{ a.persona }}  </th>
                    <td align="left">{{ a.PRLV }}</td>
                    <td align="right">${{ a.capital  |floatformat:2|intcomma  }}</td>
                    <td align="right">{{  a.porc   |floatformat:2|intcomma  }}% </td>
                    <td align="right">{{ a.tasa_efectiva  |floatformat:2|intcomma  }}%</td>
                    <td align="right">{{ a.tasa_efectiva_real  |floatformat:2|intcomma  }}%</td>
                    <td align="right"> {{ a.tasa_anual  |floatformat:2|intcomma  }}%</td>
                    <td align="right">${{ a.interes  |floatformat:2|intcomma  }}</td>
                    <td align="right">${{ a.monto_deuda  |floatformat:2|intcomma }}</td>
                    <td align="right">{{ a.inicio | date:"d/m/y"  }}</td>
                    <td align="right">{{ a.termino | date:"d/m/y" }}</td>
                    <td align="right">{{ a.hoy  | date:"d/m/y"  }}</td>
                    <td align="right">{{ a.dias    }}</td>
                    <td align="right">{{ a.porcd  |floatformat:2|intcomma }}%</td>
                    <td align="right">${{ a.intereses_hoy  |floatformat:2|intcomma }}</td>
                    <td align="right">{{ a.folio_fiscales   }}</td>
                    <td align="right">{{ a.estatus_PRLV }}</td>
                </tr>

                     {% endif %}

                        {% endfor %}
                </tbody>


                <tfoot>
                <tr>
                    <th colspan="2" > <strong> TOTALES  </strong> </th>

                    <td align="right">${{  tots.capital |floatformat:2|intcomma  }}</td>
                    <td align="right">   100%    </td>
                    <td align="right">{{  tots.tasaef  |floatformat:2|intcomma  }} %</td>
                    <td align="right">{{  tots.tasaefr  |floatformat:2|intcomma  }} %</td>
                    <td align="right"> {{ tots.tasaan  |floatformat:2|intcomma }} %</td>
                    <td align="right">${{tots.interes  |floatformat:2|intcomma  }}</td>
                    <td align="right">${{tots.deuda  |floatformat:2|intcomma }}</td>
                    <td align="right"> </td>
                    <td align="right"> </td>
                    <td align="right"> </td>
                    <td align="right"> </td>
                    <td align="right"> </td>
                    <td align="right">${{  tots.interesah |floatformat:2|intcomma }}</td>
                    <td align="right"> </td>
                    <td align="right"> </td>
                </tr>
                </tfoot>
            </table>

</div>

<br>



 <div class="container">

    <a href="{% url 'ecoclientes:nuevo_inversionista' %}" class="btn pull-right btn-flat btn-primary">Agregar inversionista</a>
&nbsp;
 </div>

<br>
<br>



<style>
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}
</style>


<div class="container" style="margin-left: 5%; ">

        <div class="row">
            <div class="column">
                <br>
                <br>

                <table id="example22" class="display" cellspacing="0" width="auto" style="margin-right: -130%;">
                    <thead>
                        <tr >
                          <th colspan="2" align="center">Flujo Actual</th>
                            <th colspan="2" align="center">Flujo Anterior</th>
                        </tr>
                        <tr>
                          <td colspan="3" align="center">{{ fecha | date:"d/m/y"  }}</td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                          <th align="right">Ventas en CxC + Inventarios</th>
                          <td align="right">  $ {{ dd.vcci |floatformat:2|intcomma  }} </td>
                          <td align="right">   {{ ant.2 }} </td>
                        </tr>
                        <tr>
                          <th align="right">Banco INB 163</th>
                          <td align="right"> {{ dd.bc |floatformat:2|intcomma }} </td>
                          <td align="right">   {{ ant.3 }} </td>
                     <tr>
                          <th align="right">Banco BBVA</th>
                          <td align="right"> {{ dd.bbva |floatformat:2|intcomma }} </td>
                          <td align="right">   {{ ant.4 }} </td>
                     <tr>
                          <th align="right">MercadoPago</th>
                          <td align="right"> {{ dd.mercapago |floatformat:2|intcomma }} </td>
                          <td align="right">   {{ ant.5 }} </td>
                     <tr>
                          <th align="right">Deuda SERHUB</th>
                          <td align="right"> {{ dd.deudaSH |floatformat:2|intcomma }} </td>
                          <td align="right">   {{ ant.6 }} </td>
                     <tr>
                          <th align="right">Deuda CoinHub</th>
                          <td align="right"> {{ dd.deudaCH |floatformat:2|intcomma }} </td>
                          <td align="right">   {{ ant.7 }} </td>
                        </tr>
                        <tr>
                          <th align="right">Total entradas</th>
                          <td align="right">  {{  dd.tde |floatformat:2|intcomma  }}   </td>
                          <td align="right">   {{ ant.8 }} </td>
                        <tr>
                          <th align="right">Capital Deuda</th>
                          <td align="right"> {{ dd.dc |floatformat:2|intcomma }}</td>
                            <td align="right">   {{ ant.9 }} </td>
                        </tr>
                        <tr>
                          <th align="right">Intereses a hoy</th>
                          <td align="right"> {{ dd.iah |floatformat:2|intcomma }}</td>
                          <td align="right">   {{ ant.10 }} </td>
                        </tr>
                        <tr>
                          <th align="right">Monto deuda a hoy</th>
                          <td align="right"> {{ dd.mdh |floatformat:2|intcomma }}</td>
                          <td align="right">   {{ ant.11 }} </td>
                        </tr>
                        <tr>
                          <th align="right">CXP COM DAR</th>
                          <td align="right"> {{ dd.cpccd |floatformat:2|intcomma }}
                          <td align="right">   {{ ant.12 }} </td>
                    </td>    </tr>
                        <tr>
                          <th align="right">CXP Fabricantes</th>
                          <td align="right"> {{ dd.cxpfab |floatformat:2|intcomma }} </td>
                          <td align="right">   {{ ant.13 }} </td>
                        </tr>
                        <tr>
                          <th align="right">Super habit/ deficit a hoy</th>
                          <td align="right">  {{ dd.shdh |floatformat:2|intcomma }}
                          <td align="right">   {{ ant.14 }} </td>
                          </td>    </tr>
                        <tr>
                          <th align="right">Super habit/ deficit total</th>
                          <td align="right">{{ dd.shdt |floatformat:2|intcomma }}</td>
                          <td align="right">   {{ ant.15 }} </td>
                        </tr>
                      </tbody>
                </table>

            </div>

            <div class="column">
                 <br> <br>

                <form method="post">
                        {% csrf_token %}
                          Banco <br>
                          <input action="/ecoclientes/flujos" type="text" name="banco" >
                          <br>
                          CxP Fabricantes<br>
                          <input action="/ecoclientes/flujos" type="text" name="cxpfab" ><br>
                        Banco BBVA<br>
                          <input action="/ecoclientes/flujos" type="text" name="bancoBBVA" ><br>
                        MercadoPago<br>
                          <input action="/ecoclientes/flujos" type="text" name="mercadoPago" ><br>
                        Deuda SER HUB<br>
                          <input action="/ecoclientes/flujos" type="text" name="deudaSERHUB" ><br>
                        Deuda CoinHub<br>
                          <input action="/ecoclientes/flujos" type="text" name="deudaCoinHub" >
                          <br><br>
                          <input type="submit" value="Submit">
                </form>

                <br>
                <form method="post">
                        {% csrf_token %}
                    Editar flujo de semana (ingresa el número de semana):
                          <input action="/ecoclientes/editar_flujos/?n=semana   "  type="text" name="semana" >

                          <input type="submit" value="Submit">
                </form>

            </div>

        </div>

    </div>











		<div class="container" style="margin-left: 5%; margin-right: -150%;">
            <div class="row">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 style = "margin-left: 25px">     Flujos históricos 2018 </h3>


     {{ b |safe   }}


                <br>
                <br>
                <br>
                <br>
                <h3 style = "margin-left: 25px">     Flujos históricos 2017 </h3>
     {{ ac |safe }}

</div>


</div>

<br>
                <br><br>


    {% endblock %}

    {% block js-special %}


<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>

<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
    $('#example').DataTable( {
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            style:    'os',
            selector: 'td:first-child'
        },

    } );
} );
</script>

    {% endblock %}

