{% extends 'ecoclientes/base-eco.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Nuevo registro{% endblock %}

    {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 100px">
                    <div class="col-sm-12" style="background-color: #e5e5e5;">
                        <br>
                            <div class="form-group">
                                <div class="row">
                                <div class="container">
                                <div class="col-md-6 col-md-offset-3 ">
                                    <br><h2>NUEVO REGISTRO</h2>
                                    <br><strong class="strong-green">Ingresa un nuevo registro al ECO.</strong>
                                <br>

                                    {% if messages %}
                                    <div class="row">
                                            <div class="col-md-2"></div>
                                     <div class="alert alert-danger col-md-6">
                                        <ul>
                                            {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                     </div>
                                     </div>
                                    {% endif %}
                                    <form method="post" enctype="multipart/form-data" >
                                    <!--<form method="post" enctype="multipart/form-data">-->
                                        {% csrf_token %}
                                        {{ prereg | crispy  }}
                                        <button type="submit" class="btn btn-flat btn-primary" id="consultar">SIGUIENTE</button>
                                        <a href="{% url 'ecoclientes:agrega_plaza'  %}" class="btn btn-flat btn-primary">Agregar nueva plaza</a>
                                        <a href="{% url 'usuarios:registro'  %}" class="btn btn-flat btn-primary">Agregar nuevo DAR</a>
                                        <div class="row">
                                                <br>
                                                <p class="col-md-4 col-md-offset-3" id="espere" style="display:none; width: 40% !important;">Obteniendo información desde FIDE...</p>
                                                <div class="col-md-2 col-md-offset-4"></div><img src="{% static 'images/loadingfide.gif' %}" id="img" style="display:none; width: 90px;" />
                                        </div>
                                            {% for error in field.errors %}
                                              <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                          </p>
                                      </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <br> </div>
                    <br> </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    <!--<script type="text/javascript" src="{% static 'js/plazasDAR.js' %}"></script>-->


</div>

    {% endblock %}
    <!-- End container -->
    <!-- Start footer -->
    {% block footer %}
    {% include 'footer/_footer-sections.html' %}
    {% include 'TYC_modal.html' %}
    {% endblock %}
    <!-- End footer -->
    {% block js-special %}
    <script type="text/javascript" src="{% static 'js/tyc.js' %}"></script>
    <script>
         $('#consultar').click(function(){
                var opt = $("#id_tipo_venta>option:selected").html()
                console.log(opt);
                console.log(document.getElementById("id_numero_credito").checkValidity());
                console.log(document.getElementById("id_DAR").checkValidity());
                console.log(opt == "PAEEEM")
                if( opt == "PAEEEM" && document.getElementById("id_numero_credito").checkValidity() && document.getElementById("id_DAR").checkValidity() ) {
                $('#img').show(); //<----here
                document.getElementById("espere").style.display = "block";
            }
        });
    </script>
    {% endblock %}