{% extends 'ecoclientes/base-eco.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block head_title %}ECO en línea{% endblock %}




    {% block content %}


		<div class="container" style="margin-left: 5%; margin-right: -150%;">
            <div class="row">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 style = "margin-left: 25px; ">     RESUMEN DARs </h3>
                    <p style = "margin-left: 23px">Resumen de ventas por DAR</p>



            <table id="example" class="display" cellspacing="0" width="auto" style="margin-right: 3%; margin-right: 3%">
                <thead>
                <tr>
                    <th style = "background-color:ForestGreen">DAR</th>
                    <th style = "background-color:ForestGreen">Pendiente</th>
                    <th style = "background-color:ForestGreen">Liberado</th>
                    <th style = "background-color:ForestGreen">Cancelado</th>
                    <th style = "background-color:ForestGreen">Total costos invertidos</th>
                    <th style = "background-color:ForestGreen">Subtotal Operación</th>
                    <th style = "background-color:ForestGreen">Financiamiento</th>
                    <th style = "background-color:ForestGreen">Financimiento cancelado</font></th>
                    <th style = "background-color:ForestGreen">Costo Total Financiamiento</th>
                    <th style = "background-color:ForestGreen">COM DAR CxP</th>
                    <th style = "background-color:ForestGreen">Adeudos</th>
                    <th style = "background-color:ForestGreen">COM DAR CxP a hoy</th>
                    <th style = "background-color:ForestGreen">Ventas</th>
                </tr>
                </thead>



                <tbody>
                     {% for a, v in todos.items %}
                     {% if a != 'TOTAL' %}

                 <tr>

                     <td>{{ a }}  </td>
                     {% for key, value in v.items %}

                     {% if key == '10-ade' and value > 1 %}
                    <td align="right"> <a href="{% url 'ecoclientes:adeudos'  %}"> ${{ value |floatformat:2|intcomma }}</td>
                        {% else %}
                     <td align="right">${{ value |floatformat:2|intcomma }}</td>
                     {% endif %}
                        {% endfor %}
                 </tr>
                        {% else %}
                </tbody>


                <tfoot>
                <tr style = "background-color:LightGreen">
                         <td>{{ a }}  </td>
                     {% for key, value in v.items %}
                    <td align="right">${{ value |floatformat:2|intcomma }}</td>
                        {% endfor %}
                </tr>
                </tfoot>
                       {% endif %}
                {% endfor %}
            </table>


               <br>
                <br>
                <br>


                <table id="cuentas" class="dt[-head|-body]-right" cellspacing="0" width="auto" style="margin-right: 3%; margin-right: 3%">
                <thead>
                <tr>
                    <th style = "background-color:ForestGreen">DAR</th>
                    <th style = "background-color:ForestGreen">Ventas realizadas </th>
                    <th style = "background-color:ForestGreen"> % </th>
                    <th style = "background-color:ForestGreen">Ventas pagadas </th>
                    <th style = "background-color:ForestGreen"> % </th>
                    <th style = "background-color:ForestGreen"> # FXF </th>
                    <th style = "background-color:ForestGreen"> # EQP </th>
                    <th style = "background-color:ForestGreen"> Días X FXF </font></th>
                    <th style = "background-color:ForestGreen"> Monto X FXF </th>
                    <th style = "background-color:ForestGreen"> Renta X FXF </th>
                    <th style = "background-color:ForestGreen"> Finan EcoLuz </th>
                    <th style = "background-color:ForestGreen"> % </th>
                </tr>
                </thead>


                <tbody>
                     {% for a, v in cuentas.items %}
                 <tr>
                         {% if a != 'TOTAL' %}
                     <td>{{ a }}  </td>
                             {% for key, value in v.items %}

                             {% if key == '05-nf' or key == '06-ne' %}
                    <td align="right">  {{ value }}</td>

                             {% else %}

                     {%  if key == '07-df' %}
                    <td align="right">  {{ value |floatformat:2|intcomma }}</td>



                                {% else %}
                                    {% if key == '02-vrp' or key == '04-vpp' or key == '11-fep' %}
                    <td align="right">  {{ value |floatformat:2|intcomma }} % </td>
                                    {% else %}
                    <td align="right"> ${{ value |floatformat:2|intcomma }}</td>
                                    {% endif %}
                                    {% endif %}
                            {% endif %}

                            {% endfor %}
                 </tr>
                    {% else %}
                      <tfoot>
                <tr style = "background-color:LightGreen">
                    <td>{{ a }}  </td>
                            {% for key, value in v.items %}

                                 {% if key == '05-nf' or key == '06-ne' %}
                    <td align="right">  {{ value }}</td>

                                                 {% else %}

                     {%  if key == '07-df' %}
                    <td align="right">  {{ value |floatformat:2|intcomma }}</td>



                                 {% else %}
                                        {% if key == '02-vrp' or key == '04-vpp' or key == '11-fep' %}
                    <td align="right">  {{ value |floatformat:2|intcomma }} % </td>
                                         {% else %}
                    <td align="right"> ${{ value |floatformat:2|intcomma }}</td>
                                        {% endif %}
                                {% endif %}
                                    {% endif %}


                            {% endfor %}
                    {% endif %}
                </tr>
                </tfoot>


                    {% endfor %}
                </tbody>



            </table>


<br>
                <br>
                <br>

		</div>
    </div>



    {% endblock %}

    {% block js-special %}


<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>

<!--<script type="text/javascript" charset="utf-8">-->
			<!--$(document).ready(function() {-->
    <!--$('#example').DataTable( {-->
        <!--columnDefs: [ {-->
            <!--orderable: false,-->
            <!--className: 'select-checkbox',-->
            <!--targets:   0-->
        <!--} ],-->
        <!--select: {-->
            <!--style:    'os',-->
            <!--selector: 'td:first-child'-->
        <!--},-->

    <!--} );-->
<!--} );-->
<!--</script>-->

<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#cuentas')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>

<!--<script type="text/javascript" charset="utf-8">-->
			<!--$(document).ready(function() {-->
    <!--$('#cuentas').DataTable( {-->
        <!--columnDefs: [ {-->
            <!--orderable: false,-->
            <!--className: 'select-checkbox',-->
            <!--targets:   0-->
        <!--} ],-->
        <!--select: {-->
            <!--style:    'os',-->
            <!--selector: 'td:first-child'-->
        <!--},-->

    <!--} );-->
<!--} );-->
<!--</script>-->

    {% endblock %}

