{% extends 'ecoclientes/base-eco.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block head_title %}ECO en línea{% endblock %}





    {% block content %}


		<div class="container">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3>Viendo registro {{ eco_regis }}</h3>
                    <p>Se muestra un registro del ECO</p>
            </div>

    <div class="container"><b>
        <table id="example" class="display" cellspacing="2" width="80px">
       <b>

            <tr>
                    <!--<th style = "background-color:None">          </th>-->
                    <td style = "background-color:#5E9B46;width:35px !important;" >FXF</td>
                    <td>{{ eco_regis.fxf }}</td>
            </tr>
    <tr>
        <td style = "background-color:#5E9B46;width:35px !important;">CRÉDITO</td>
        <td> {{ eco_regis.numero_credito }}</td>
    </tr>

       <tr>
           <td style = "background-color:#5E9B46;width:35px !important;">BENEFICIARIO</td>
           <td>{{ eco_regis.nombre_beneficiario }}</td>
    </tr>

    <tr>
                <td style = "background-color:#5E9B46;width:35px !important;">ESTATUS</td>
                <td>{{ eco_regis.estatus }}</td>
    </tr>
       </b>
     </tbody>
</table>
</div>


<br>



<table id="example1" class="display" cellspacing="0" width="95%" style="margin-left: 5%;">
    <thead>
    <tr>
                    <!--<th style = "background-color:None">          </th>-->
                    <!--<th style = "background-color:DarkOrange">FXF</th>-->
                    <!--<th style = "background-color:DarkOrange">CRÉDITO</th>-->
                    <!--<th style = "background-color:DarkOrange">BENEFICIARIO</th>-->
                    <!--&lt;!&ndash;<th>PATR</th>&ndash;&gt;-->
                    <!--<th style = "background-color:DarkOrange">ESTATUS</th>-->
                    <th style = "background-color:#00acff">FECHA COMPRA</th>
                    <th style = "background-color:DarkOrange">#</th>
                    <th style = "background-color:DarkOrange">EQUIPOS</th>
                    <th style = "background-color:DarkOrange">SUBTOTAL</th>
                    <th style = "background-color:GoldenRod">FINANCIAMIENTO</th>
                    <th style = "background-color:GoldenRod">PAGO TOTAL</th>
                    <th style = "background-color:GoldenRod">INST</th>
                    <th style = "background-color:GoldenRod"># DÍAS</th>
                    <th style = "background-color:DarkOrange">COM DAR</th>
                    <th style = "background-color:DarkOrange">ADEUDOS</th>
                    <th style = "background-color:DarkOrange">DESCUENTOS</th>
                    <th style = "background-color:DarkOrange">FACTURAS</th>
                    <th style = "background-color:DarkOrange">OBSERVACIONES</th>
                    <th style = "background-color:DarkOrange">ATRASOS</th>
    </tr>
    </thead>
    <tbody>

{% for eco_registro in eqps %}
    <tr>
        <!--<td>          </td>-->
        <!--<td>{{ eco_registro.fxf_eqp }}</td>-->
        <!--<td><font size="2">{{ eco_registro.numero_credito }}</font></td>-->
        <!--<td><font size="2">{{ eco_registro.nombre_beneficiario }}</font></td>-->
        <!--&lt;!&ndash;<td>{{ eco_registro.patrocinado }}</td>&ndash;&gt;-->
        <!--<td>{{ eco_registro.estatus }}</td>-->
        <td>{{ eco_registro.fecha_compra_e | date:"d/m/y"  }}</td>
        <td>{{ eco_registro.cantidad }}</td>
                       {% if not eco_registro.modelo_eqp.codigo_producto or not eco_registro.modelo_eqp.descripcion %}
        <td><a href="{% url 'ecoclientes:editar_equipo' eco_registro.pk  %}">{{ eco_registro.modelo_eqp  }} </a>
            <a href="{% url 'ecoclientes:edita_inventario' eco_registro.modelo_eqp.pk  %}"> [***] </a>
        </td>
                        {% else %}
        <td><a href="{% url 'ecoclientes:editar_equipo' eco_registro.pk  %}">{{ eco_registro.modelo_eqp  }} </a> </td>
                        {% endif %}
        <td>${{ eco_registro.subtotal_equipo  |floatformat:2|intcomma  }}</td>
        <td>${{ eco_registro.financiamiento_e |floatformat:2|intcomma  }}</td>
        <td>${{ eco_registro.pago_total_e |floatformat:2|intcomma  }}</td>
        <td>${{ eco_registro.gastos_inst |floatformat:2|intcomma  }}</td>
        <td> {{ eco_registro.numero_dias_e  }}</td>
        {% if eco_registro.fxf_eqp.solar %}
                        {% if eco_registro.pago_total_e > 0 %}
                    <td>${{ eco_registro.fxf_eqp.com_dar |floatformat:2|intcomma  }}</td>
                        {% else %}
                    <td> - </td>
                        {% endif %}
                    {% else %}
                    <td>${{ eco_registro.com_dar_e |floatformat:2|intcomma  }}</td>
                    {% endif %}
        <td>${{ eco_registro.adeudos_eq  |floatformat:2|intcomma }}</td>
        <td>${{ eco_registro.descuentos  |floatformat:2|intcomma }}</td>
        <td>
            <font size="2">
                {% if not eco_registro.fxf_eqp.factura_ecoluz_n and not eco_registro.fxf_eqp.factura_fab and not eco_registro.fxf_eqp.factura_costos_dar and not eco_registro.fxf_eqp.factura_reg %}
                <span>No hay facturas</span>
                   {% else %}
                      {% if eco_registro.fxf_eqp.factura_ecoluz_n %}
                          <a href="{{ fac.pdf.url }}">Ecoluz</a>
                      {% endif %}
                      {% if eco_registro.fxf_eqp.factura_fab %}
                          <a href="{{ eco_registro.factura_fab.url }}">FAB</a>
                      {% endif %}
                      {% if eco_registro.fxf_eqp.factura_costos_dar %}
                          <a href="{{ eco_registro.factura_costos_dar.url }}">DAR</a>
                      {% endif %}
                         {% if eco_registro.fxf_eqp.factura_reg %}
                          <a href="{{ eco_registro.factura_reg.url }}">REG</a>
                      {% endif %}
                   {% endif %}
            </font>
        </td>
         <td> {{ eco_registro.obs_e }}</td>
         <td> {{ eco_registro.atrasos }}</td>
    </tr>
{% endfor %}

    <tr class="border_bottom">

        <td> </td>
        <td> </td>
        <td> <strong>TOTALES</strong> </td>
        <td><strong> ${{ eco_regis.subtotal_pago |floatformat:2|intcomma }} </strong></td>
        <td><strong> ${{ eco_regis.financiamiento |floatformat:2|intcomma}}</strong> </td>
        <td><strong> ${{ eco_regis.pago_total   |floatformat:2|intcomma  }} </strong> </td>
        <td><strong> ${{ eco_regis.gastos_inst   |floatformat:2|intcomma  }} </strong> </td>
        <td>   </td>
        <td><strong> ${{ eco_regis.com_dar  |floatformat:2|intcomma   }}</strong> </td>
        <td><strong> ${{ eco_regis.adeudos  |floatformat:2|intcomma   }}</strong> </td>
        <td><strong> ${{ eco_regis.descuento_f  |floatformat:2|intcomma   }}</strong> </td>
        <td>                       </td>
        <td><strong> {{ eco_regis.obs }} </strong> </td>
    </tr>

    </tbody>
</table>


<br>
<br>


      <div class="container">
            <a href="{% url 'ecoclientes:editar_registro'  eco_regis.fxf  %}" class="btn btn-flat btn-primary">Editar folio actual</a>
            <a href="{% url 'ecoclientes:nuevo_equipo'  %}" class="btn btn-flat btn-primary">Agregar equipo</a>
            <a href="{% url 'ecoclientes:captura_datos_fiscales' eco_regis.fxf  %}" class="btn btn-flat btn-primary">INFORMACIÓN FISCAL</a>
                   {% if not eco_regis.rfc or not eco_regis.nombre_beneficiario or not eco_regis.calle or not eco_regis.numero_exterior or not eco_regis.colonia or not eco_regis.codigo_postal or not eco_regis.delegacion_municipio or not eco_regis.estado  %}
<p> FALTAN DATOS FISCALES  </p>
        {% endif %}
      </div>
<br>



          {% if eco_regis.rfc and eco_regis.nombre_beneficiario and eco_regis.calle and eco_regis.numero_exterior and eco_regis.codigo_postal and eco_regis.delegacion_municipio and eco_regis.estado and eco_regis.equipo_set.first.subtotal_equipo and eco_regis.equipo_set.last.subtotal_equipo and eco_regis.equipo_set.first.modelo_eqp.codigo_producto and eco_regis.equipo_set.last.modelo_eqp.codigo_producto and not eco_regis.factura_ecoluz_n   %}
           <br>

            <div class="container">
            <a href="{% url 'ecoclientes:genera_factura' eco_regis.fxf  %}" class="btn btn-flat btn-primary">GENERAR FACTURA</a>

          {% endif %}
      </div>

     <div class="container">
          {% if eco_regis.adeudos > 1 %}
         <br>
            <a href="{% url 'ecoclientes:ver_registros_liberados'  eco_regis.fxf  %}" class="btn btn-flat btn-primary">ADMINISTRAR DESCUENTO</a>

          {% endif %}

      </div>

    <div class="container">

    </div>

        <div class="container">
            <br>
            <br>
            <br>

          {% if eco_regis.factura_ecoluz_n and fac.pdf  %}
            <a href="{% url 'ecoclientes:cancela_factura'  eco_regis.fxf  %}" class="btn btn-flat btn-danger">CANCELAR FACTURA ECOLUZ</a>

          {% endif %}


      </div>
<br>


    {% endblock %}

    {% block js-special %}

<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
	$('#example1')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>

    {% endblock %}



