{% extends 'ecoclientes/base-eco.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block head_title %}ECO en línea{% endblock %}


    {% block content %}



		<div class="container" style="margin-left: 5%; margin-right: 0%;">
            <div class="row">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 style = "margin-left: 25px">     Viendo todo el ECO</h3>
                    <p style = "margin-left: 23px">Se muestra todo el ECO</p>


            <table id="example" class="display" cellspacing="0" width="auto" style="margin-left: 5%;">
                <thead>
                <tr>
                    <th style = "background-color:DarkOrange">FXF</th>
                    <th style = "background-color:DarkOrange">CRÉDITO</th>
                    <th style = "background-color:DarkOrange">BENEFICIARIO</th>
                    <!--<th>PATR</th>-->
                    <th style = "background-color:DarkOrange">ESTATUS</th>
                    <th style = "background-color:DarkOrange">#</th>
                    <th style = "background-color:DarkOrange">EQUIPOS</th>
                    <th style = "background-color:DarkOrange">SUBTOTAL</th>
                    <th style = "background-color:DarkOrange">CAyD</th>
                    <th style = "background-color:DarkOrange">FACTURA ECOLUZ</th>
                    <th style = "background-color:DarkOrange">FECHA PAGO</th>
                    <th style = "background-color:#00acff">FACTURA FAB</th>
                    <th style = "background-color:#00acff">FECHA COMPRA</th>
                    <th style = "background-color:#00acff">FACTURA DAR</th>
                    <th style = "background-color:#00acff"># SERIE</th>
                    <th style = "background-color:#00acff">EQP</th>

                    <th style = "background-color:#00acff">MDM</th>
                    <th style = "background-color:#00acff">COM</th>
                    <th style = "background-color:#00acff">MAN</th>
                    <th style = "background-color:#00acff">CAYD</th>

                    <th style = "background-color:#00acff">MONITOREO</th>
                    <th style = "background-color:#00acff">MONTAJE</th>
                    <th style = "background-color:#00acff">INST</th>

                    <th style = "background-color:#00acff">SUM_INST</th>
                    <!--<th style = "background-color:#00acff">ESTRUCTURA</th>-->
                    <th style = "background-color:#00acff">INVERSOR</th>
                    <th style = "background-color:#00acff">MICROINVERSOR</th>


                    <th style = "background-color:GoldenRod"><font size="2">SUBTOTAL OPERACIÓN</font></th>
                    <th style = "background-color:GoldenRod" > <font size="2">FINANCIA-MIENTO </font></th>
                    <th style = "background-color:GoldenRod"><font size="2">COSTO TOTAL FINANCIAMIENTO</font></th>
                    <th style = "background-color:GoldenRod">PAGO TOTAL</th>
                    <th style = "background-color:GoldenRod">GASTOS INST</th>
                    <th style = "background-color:GoldenRod"># DÍAS</th>
                    <th style = "background-color:DarkOrange">COM DAR</th>
                    <th style = "background-color:DarkOrange">ADEUDOS</th>
                    <th style = "background-color:DarkOrange">DESCUENTOS</th>
                    <th style = "background-color:DarkOrange">FACTURAS</th>
                    <th style = "background-color:DarkOrange"><font size="2">OBSERVACIONES</font></th>
                    <th style = "background-color:DarkOrange"><font size="2">ATRASOS</font></th>
                </tr>
                </thead>
                <tbody>
                {% for eco_registro in registros %}
                <tr><td><a type="submit" href="{% url 'ecoclientes:ver_registro' eco_registro.fxf_eqp.fxf  %}">{{ eco_registro.fxf_eqp }} </a> </td>
                    <td><font size="2">{{ eco_registro.numero_credito }}</font></td>
                    <td><font size="2">{{ eco_registro.nombre_beneficiario }}</font></td>
                    <!--<td>{{ eco_registro.patrocinado }}</td>-->
                    <td><font size="2">{{ eco_registro.estatus }}</font></td>
                    <td>{{ eco_registro.cantidad }}</td>
                    <td><font size="2">{{ eco_registro.modelo_eqp  }}</font></td>
                    <td>${{ eco_registro.subtotal_equipo |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.cayd_cobrado_e |floatformat:2|intcomma  }}</td>
                    <td>{{ eco_registro.factura_ecoluz_n  }}</td>
                    <td><font size="2">{{ eco_registro.fecha_pago | date:"d/m/y"  }}</font></td>
                    <td>{{ eco_registro.factura_fab_n  }}</td>
                    <td><font size="2">{{ eco_registro.fecha_compra_e | date:"d/m/y"  }}</font></td>
                    <td>{{ eco_registro.factura_costos_dar_n  }}</td>
                    <td><font size="2">{{ eco_registro.numero_serie  }}</font></td>
                    <td>${{ eco_registro.eqp_e |floatformat:2|intcomma  }}</td>

                    <td>${{ eco_registro.mdm_e |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.com_e |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.man_e |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.cayd_pagado_e |floatformat:2|intcomma  }}</td>

                    <td>${{ eco_registro.monitoreo_e |floatformat:2|intcomma   }}</td>
                    <td>${{ eco_registro.montaje_e |floatformat:2|intcomma   }}</td>
                    <td>${{ eco_registro.reguladores_e |floatformat:2|intcomma   }}</td>

                    <td>${{ eco_registro.suministro_instalacion_e |floatformat:2|intcomma  }}</td>
                    <!--<td>${{ eco_registro.estructura_e |floatformat:2|intcomma  }}</td>-->
                    <td>${{ eco_registro.inversor_e |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.microinversor_e |floatformat:2|intcomma  }}</td>


                    <td>${{ eco_registro.subtotal_operacion_e |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.financiamiento_e |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.costo_total_financiamiento_e |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.pago_total_e |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.gastos_inst |floatformat:2|intcomma  }}</td>
                    <td> {{ eco_registro.numero_dias_e  }}</td>
                    {% if eco_registro.fxf_eqp.solar %}
                        {% if eco_registro.pago_total_e > 0 %}
                    <td>${{ eco_registro.fxf_eqp.com_dar |floatformat:2|intcomma  }}</td>
                        {% else %}
                    <td> - </td>
                        {% endif %}
                    {% else %}
                    <td>${{ eco_registro.com_dar_e |floatformat:2|intcomma  }}</td>
                    {% endif %}
                    <td>${{ eco_registro.adeudos_eq |floatformat:2|intcomma  }}</td>
                    <td>${{ eco_registro.descuentos |floatformat:2|intcomma  }}</td>
                    <td>
                        <font size="2">
                        {% if eco_registro.factura_ecoluz %}
                                      <a href="{{ eco_registro.factura_ecoluz.url }}">Ecoluz</a>
                                  {% else %}
                                      <span>Ecoluz</span>
                                  {% endif %} /
                                  {% if eco_registro.factura_fab %}
                                      <a href="{{ eco_registro.factura_fab.url }}">FAB</a>
                                  {% else %}
                                      <span>FAB</span>
                                  {% endif %} /
                                  {% if eco_registro.factura_costos_dar %}
                                      <a href="{{ eco_registro.factura_costos_dar.url }}">DAR</a>
                                  {% else %}
                                      <span>DAR</span>
                                  {% endif %} /
                                     {% if eco_registro.factura_reg %}
                                      <a href="{{ eco_registro.factura_reg.url }}">DAR</a>
                                  {% else %}
                                      <span>REG</span>
                                  {% endif %}
                        </font>
                    </td>
                     <td>{{ eco_registro.obs_e }}</td>
                    <td> {{ eco_registro.atrasos }}</td>

                </tr>
                {% endfor %}
                 <tfoot>
    <th style = "background-color:DarkOrange">FXF</th>
    <th style = "background-color:DarkOrange">CRÉDITO</th>
    <th style = "background-color:DarkOrange">BENEFICIARIO</th>
    <!--<td>PATR</td>-->
    <th style = "background-color:DarkOrange">ESTATUS</th>
    <th style = "background-color:DarkOrange">#</th>
    <th style = "background-color:DarkOrange">EQUIPOS</th>
    <th style = "background-color:DarkOrange">SUBTOTAL</th>
    <th style = "background-color:DarkOrange">CAyD</th>
    <th style = "background-color:DarkOrange">FACTURA ECOLUZ</th>
    <th style = "background-color:DarkOrange">FECHA PAGO</th>
    <th style = "background-color:#00acff">FACTURA FAB</th>
    <th style = "background-color:#00acff">FECHA COMPRA</th>
    <th style = "background-color:#00acff">FACTURA DAR</th>
    <th style = "background-color:#00acff"># SERIE</th>
    <th style = "background-color:#00acff">EQP</th>

    <th style = "background-color:#00acff">MDM</th>
    <th style = "background-color:#00acff">COM</th>
    <th style = "background-color:#00acff">MAN</th>
    <th style = "background-color:#00acff">CAYD</th>

    <th style = "background-color:#00acff">MONITOREO</th>
    <th style = "background-color:#00acff">MONTAJE</th>
    <th style = "background-color:#00acff">INST</th>

    <th style = "background-color:#00acff">SUM_INST</th>
    <!--<th style = "background-color:#00acff">ESTRUCTURA</th>-->
    <th style = "background-color:#00acff">INVERSOR</th>
    <th style = "background-color:#00acff">MICROINVERSOR</th>

    <th style = "background-color:GoldenRod"><font size="2">SUBTOTAL OPERACIÓN</font></th>
    <th style = "background-color:GoldenRod" > <font size="2">FINANCIA-MIENTO </font></th>
    <th style = "background-color:GoldenRod"><font size="2">COSTO TOTAL FINANCIAMIENTO</font></th>
    <th style = "background-color:GoldenRod">PAGO TOTAL</th>
    <th style = "background-color:GoldenRod">GASTOS INST</th>
    <th style = "background-color:GoldenRod"># DÍAS</th>
    <th style = "background-color:DarkOrange">COM DAR</th>
    <th style = "background-color:DarkOrange">ADEUDOS</th>
    <th style = "background-color:DarkOrange">DESCUENTOS</th>
    <th style = "background-color:DarkOrange">FACTURAS</th>
    <th style = "background-color:DarkOrange"><font size="2">OBSERVACIONES</font></th>
    <th style = "background-color:DarkOrange"><font size="2">ATRASOS</font></th>
</tfoot>

                </tbody>
            </table>
		</div>
		</div>
    </div>

      <!--<div class="container">-->
            <!--<a href="{% url 'ecoclientes:pre_registro'  %}" class="btn btn-flat btn-primary">Capturar nuevo registro</a>-->
            <!--<a href="{% url 'ecoclientes:ver_registros'  %}" class="btn btn-flat btn-primary">Ver resumen</a>-->
      <!--</div>-->


    {% endblock %}

    {% block js-special %}
<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>

<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
    $('#example').DataTable( {
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            style:    'os',
            selector: 'td:first-child'
        },
        fixedHeader: true
    } );
} );
</script>


    {% endblock %}

