body {
    font-family: 'Omnes Regular';
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Omnes Regular';
}

h4 {
    color: #00944c;
    font-weight: 600;
}

select {
    border-radius: 0 !important;
}

.form-group a {
    color: #19ac65 !important;
}

.strong-green {
    color: #00944c;
    font-weight: 600;
}

.strong-white {
    color: #FFF;
    font-weight: 600;
}

.navbar-brand {
    height: auto;
    padding: 5px 15px;
}

.logo {
    max-height: 70px;
}

.btn-flat {
    border-radius: 0;
    margin: 0 auto;
}

.form-control {
    border: 0;
    border-radius: 0!important;
    color: #555;
    background-color: #bbd97e;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Omnes ExtraLight';
    color: #303030 !important;
    font-size: 1.3em;
    text-transform: uppercase;
    padding-left: 10px;
    margin-right: 10px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: green !important;
}

.navbar-default .navbar-nav > li >.active {
    color: green !important;
}
.active {
    color: green !important;
}


.chatBtn {
    position: fixed;
    bottom: 80px;
    right: 50px;
    z-index: 10;
}
.footer{
    position:fixed; bottom:0; width:100%;
}
.footer-grad {
    background: rgba(41, 41, 41, 0);
    background: -moz-linear-gradient(top, rgba(41, 41, 41, 0) 0%, rgba(0, 0, 0, 0.68) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41, 41, 41, 0)), color-stop(100%, rgba(0, 0, 0, 0.68)));
    background: -webkit-linear-gradient(top, rgba(41, 41, 41, 0) 0%, rgba(0, 0, 0, 0.68) 100%);
    background: -o-linear-gradient(top, rgba(41, 41, 41, 0) 0%, rgba(0, 0, 0, 0.68) 100%);
    background: -ms-linear-gradient(top, rgba(41, 41, 41, 0) 0%, rgba(0, 0, 0, 0.68) 100%);
    background: linear-gradient(to bottom, rgba(41, 41, 41, 0) 0%, rgba(0, 0, 0, 0.68) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#000000', GradientType=0);
}

.main_footer p {
    color: white;
    font-family: 'Omnes ExtraLight';
    font-size: 1.1em;
}

.main_footer p > sup {
    margin-left: 5px;
    margin-right: 5px;
    top: -.3em;
}

.main_footer p > sup > i {
    color: white;
    font-size: .4em;
}

.main_footer p > a {
    font-family: 'Omnes Regular';
    color: white;
    margin: 5px;
}

.main_footer p > a:hover {
    color: #ccc !important;
    text-decoration: none;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.footer-section {
    background-color: #19ac65;
    padding: 10px 10px 0px;
}
.body-back-calculadora {
            background: transparent url("../images/background/calculadora.jpg") no-repeat top left;
            background-size: cover
        }
.google-maps {
            position: relative;
            padding-bottom: 75%; 
            height: 0;
            overflow: hidden;
        }
        
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #bbd97e;
    opacity: 1;
}

.col-md-3{
  border:1px solid green
}

.col-md-3:not(:first-child) {
    margin-left: 1%;
    margin-top: 1%
}

.col-md-3{
    margin-top: 1%
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid rgb(193, 192, 192);
    border-radius: 4px 4px 0 0;
}

.form-control-white {
    border: 0;
    border-radius: 0!important;
    color: #555;
    background-color: #fff !important;
}

.express.active {
    border-color: #7ebcd9;
    -webkit-box-shadow: 0 0 8px #7ebcd9;
       -moz-box-shadow: 0 0 8px #7ebcd9;
            box-shadow: 0 0 8px #7ebcd9;
    background-color: #7ebcd9;
}

.moderado.active {
    border-color: #7ebcd9;
    -webkit-box-shadow: 0 0 8px #7ebcd9;
       -moz-box-shadow: 0 0 8px #7ebcd9;
            box-shadow: 0 0 8px #7ebcd9;
    background-color: #7ebcd9;
}

.lp.active {
    border-color: #7ebcd9;
    -webkit-box-shadow: 0 0 8px #7ebcd9;
       -moz-box-shadow: 0 0 8px #7ebcd9;
            box-shadow: 0 0 8px #7ebcd9;
    background-color: #7ebcd9;
}

.input-group-addon
{
    background-color:#FFF;
    border: none;
}

.input-group .input-group-addon + .form-control
{
    border: none;
}

.group-span-filestyle
{
    z-index: 0 !important;
}

.input-group-btn
{
    z-index: 0 !important;
}

.input-group .form-control
{
    z-index: 0 !important;
}

.dataTables_length
{
    margin-left: 10% !important;
}

