    .carousel-caption h3 {
        display: inline-block;
        padding: 10px;
        font-size: 18px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    .full-screen {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    /*==========  Mobile First Method  ==========*/
    /* Custom, iPhone Retina */
    
    @media only screen and (min-width: 320px) {
        .item1 {
        background-size: cover;
        background-position-x: 15% !important;
        background-position-y:center !important;
        background-repeat: no-repeat;
    }
        .caption1 {
            max-width: 280px;
            text-align: left;
            position: relative;
            top: 45%;
            left: 8%;
        }
        .caption1 h3 {
            color: #FFFFFF;
            font-family: 'Omnes Regular';
            font-size: 2em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption1 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption2 {
            max-width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            position: relative;
            top: 46%;
            left: 0%;
        }
        .caption2 h3 {
            color: #ffffff;
            font-family: 'Omnes Regular';
            font-size: 2em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption2 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption3 {
            max-width: 280px;
            text-align: left;
            position: relative;
            top: 45%;
            left: 10%;
        }
        .caption3 h3 {
            color: #fff;
            font-family: 'Omnes Regular';
            font-size: 2em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption3 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption4 {
            max-width: 280px;
            text-align: left;
            position: relative;
            top: 45%;
            left: 10%;
        }
        .caption4 h3 {
            color: #FFFFFF;
            font-family: 'Omnes Regular';
            font-size: 2em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption4 h3 strong {
            font-family: 'Omnes Regular';
        }
    }
    /* Extra Small Devices, Phones */
    
    @media only screen and (min-width: 480px) {
        .caption1 {
            max-width: 300px;
            text-align: right;
            position: relative;
            top: 32%;
            left: 25%;
        }
        .caption1 h3 {
            color: #006d52;
            font-family: 'Omnes Regular';
            font-size: 2.5em;
            text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        }
        .caption1 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption2 {
            max-width: 400px;
            text-align: center;
            position: relative;
            top: 35%;
            left: 10%;
        }
        .caption2 h3 {
            color: #ffffff;
            font-family: 'Omnes Regular';
            font-size: 2.5em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption2 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption3 {
            max-width: 350px;
            text-align: center;
            position: relative;
            top: 32%;
            left: 10%;
        }
        .caption3 h3 {
            color: #006d52;
            font-family: 'Omnes Regular';
            font-size: 2.5em;
            text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        }
        .caption3 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption4 {
            max-width: 350px;
            text-align: left;
            position: relative;
            top: 35%;
            left: 10%;
        }
        .caption4 h3 {
            color: #FFFFFF;
            font-family: 'Omnes Regular';
            font-size: 2.5em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption4 h3 strong {
            font-family: 'Omnes Regular';
        }
    }
    /* Small Devices, Tablets */
    
    @media only screen and (min-width: 768px) {
        .caption1 {
            max-width: 300px;
            text-align: right;
            position: relative;
            top: 30%;
            left: 50%;
        }
        .caption1 h3 {
            color: #006d52;
            font-family: 'Omnes Regular';
            font-size: 2.5em;
            text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        }
        .caption1 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption2 {
            max-width: 100%;
            text-align: center;
            position: relative;
            top: 60%;
            left: 0%;
        }
        .caption2 h3 {
            color: #ffffff;
            font-family: 'Omnes Regular';
            font-size: 2em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption2 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption3 {
            max-width: 350px;
            text-align: right;
            position: relative;
            top: 30%;
            left: 45%;
        }
        .caption3 h3 {
            color: #006d52;
            font-family: 'Omnes Regular';
            font-size: 2.5em;
            text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
        }
        .caption3 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption4 {
            max-width: 350px;
            text-align: left;
            position: relative;
            top: 30%;
            left: 10%;
        }
        .caption4 h3 {
            color: #FFFFFF;
            font-family: 'Omnes Regular';
            font-size: 2.5em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption4 h3 strong {
            font-family: 'Omnes Regular';
        }
    }
    /* Medium Devices, Desktops */
    
    @media only screen and (min-width: 992px) {
        .caption1 {
            max-width: 400px;
            text-align: right;
            position: relative;
            top: 35%;
            left: 50%;
        }
        .caption1 h3 {
            color: #006d52;
            font-family: 'Omnes ExtraLight';
            font-size: 3em;
            text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        }
        .caption1 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption2 {
            max-width: 100%;
            text-align: center;
            position: relative;
            top: 60%;
            left: 0%;
        }
        .caption2 h3 {
            color: #ffffff;
            font-family: 'Omnes ExtraLight';
            font-size: 2.5em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption2 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption3 {
            max-width: 350px;
            text-align: right;
            position: relative;
            top: 30%;
            left: 55%;
        }
        .caption3 h3 {
            color: #006d52;
            font-family: 'Omnes ExtraLight';
            font-size: 3em;
            text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
        }
        .caption3 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption4 {
            max-width: 400px;
            text-align: left;
            position: relative;
            top: 30%;
            left: 10%;
        }
        .caption4 h3 {
            color: #FFFFFF;
            font-family: 'Omnes ExtraLight';
            font-size: 3em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption4 h3 strong {
            font-family: 'Omnes Regular';
        }
    }
    /* Large Devices, Wide Screens */
    
    @media only screen and (min-width: 1200px) {
        .caption1 {
            max-width: 550px;
            text-align: right;
            position: relative;
            top: 25%;
            left: 50%;
        }
        .caption1 h3 {
            color: #006d52;
            font-family: 'Omnes ExtraLight';
            font-size: 4em;
            text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        }
        .caption1 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption2 {
            max-width: 100%;
            text-align: center;
            position: relative;
            top: 55%;
            left: 0%;
        }
        .caption2 h3 {
            color: #ffffff;
            font-family: 'Omnes ExtraLight';
            font-size: 4em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption2 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption3 {
            max-width: 550px;
            text-align: right;
            position: relative;
            top: 25%;
            left: 50%;
        }
        .caption3 h3 {
            color: #006d52;
            font-family: 'Omnes ExtraLight';
            font-size: 4em;
            text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
        }
        .caption3 h3 strong {
            font-family: 'Omnes Regular';
        }
        .caption4 {
            max-width: 550px;
            text-align: left;
            position: relative;
            top: 25%;
            left: 10%;
        }
        .caption4 h3 {
            color: #FFFFFF;
            font-family: 'Omnes ExtraLight';
            font-size: 4em;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }
        .caption4 h3 strong {
            font-family: 'Omnes Regular';
        }
    }